article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}
audio, canvas, video {
	display: inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
	display: none
}
[hidden] {
display:none
}
.views-hide .links a {
	font-size: 10px;
	color: #999!important
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
body {
	margin: 0;
	font-size: 12px;
	line-height: 14px
}
body, button, input, select, textarea {
	font-family: sans-serif;
	color: #252525
}
::-moz-selection {
background:#2697d1;
color:white;
text-shadow:none
}
::selection {
	background: #2697d1;
	color: white;
	text-shadow: none
}
a:hover, a:active {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: bold
}
blockquote {
	margin: 1em 40px
}
dfn {
	font-style: italic
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px dotted #ccc;
	margin: 0;
	padding: 0
}
ins {
	background: #ff9;
	color: white;
	text-decoration: none
}
mark {
	background: yellow;
	color: white;
	font-style: italic;
	font-weight: bold
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}
q {
	quotes: none
}
q:before, q:after {
	content: "";
	content: none
}
small {
	font-size: 85%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
ul, ol, li.leaf, .block li, ul.links li {
	margin: 0;
	padding: 0;
	list-style: none
}
dd {
	margin: 0
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 0
}
form {
	margin: 0
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0
}
label {
	cursor: pointer
}
legend {
	border: 0;
*margin-left:-7px;
	padding: 0
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
*vertical-align:middle
}
button, input {
	line-height: normal;
*overflow:visible
}
table button, table input {
*overflow:auto
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
 input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
 button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}
 input:invalid, textarea:invalid {
background-color:#f0dddd
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td {
	vertical-align: top
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.block ul, .block ul li, .menu ul li, ul.menu li, li.leaf, .leaf {
	margin: 0;
	padding: 0
}
:focus {
	outline: 0
}
table {
	border-collapse: separate;
	border-spacing: 0
}
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr
}
.ir br {
	display: none
}
.hidden {
	display: none!important;
	visibility: hidden
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}
.invisible {
	visibility: hidden
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table
}
.clearfix:after, .clearfix:before {
	clear: both
}
.clearfix {
	zoom: 1
}
.black, a, a:visited, a:focus, a:active, a.active {
	color: #444;
	text-decoration: underline;
}
a:hover, a.active:hover {
	color: #2697d1;
	text-decoration: underline;
}
header {
	width: 1002px
}
header div#hdr-top {
	border-bottom: solid 3px #252525;
	padding: 14px 0 7px;
	margin: 0 0 10px;
	width: 1002px;
	height: 85px
}
header div#hdr-top div#pencil-ad {
	display: inline;
	float: left;
	padding: 0 8px 0;
	text-align: center;
	width: 728px
}
header div#hdr-top div#hdr_block {
	display: inline;
	float: right;
	padding: 0 10px 0 0
}
header div#hdr-top div#hdr_block a img {
	border-right: solid 1px #ac0481;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0
}
header div#hdr-top div#hdr_block ul {
	float: left;
	padding: 5px 0 0 0
}
header div#hdr-top div#hdr_block ul li a {
	color: #e50c77;
	font-size: 11px;
	line-height: 18px
}
header div#header-main {
	margin: 0 0 12px 5px;
	font: 12px Tahoma, san-serif
}
header div#header-main div#logo {
	float: left;
	padding: 5px 0 0 10px
}
header div#header-main div#main-nav {
	float: right;
	width: 653px;
	padding: 0 10px
}
header div#header-main div#main-nav div#nav-top {
	height: 24px;
	vertical-align: middle
}
header div#header-main div#main-nav div#nav-top div {
	display: inline-block
}
header div#header-main div#main-nav div#nav-top input.form-text {
	color: #7e7e7e;
	height: 18px;
	text-align: center;
	width: 183px
}
header div#header-main div#main-nav div#nav-top div.form-item {
	margin: 0
}
header div#header-main div#main-nav div#nav-top div#caslinks {
	float: left;
	height: 24px;
	line-height: 24px;
	vertical-align: middle
}
header div#header-main div#main-nav div#nav-top div#nav-forms {
	float: right;
	margin-top: 25px;
}
header div#header-main div#main-nav div#nav-top div#gsa-search {
	padding: 0 5px
}
header div#header-main div#main-nav div#nav-top input[type='submit'] {
	font-size: 1em;
	border: 0;
	height: 24px;
	left: -4px;
	padding: 0;
	position: relative;
	top: -1px;
	width: 24px
}
header div#header-main div#main-nav div#nav-menu {
	background-color: #2697d1;
	color: white;
	cursor: pointer;
	font: bold 14px Tahoma;
	height: 37px;
	margin-top: 5px
}
header div#header-main div#main-nav div#nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%
}
header div#header-main div#main-nav div#nav-menu ul li {
	display: inline;
	border-right: 2px solid #1c5c7c;
	float: left;
	margin: 6px 0 6px 5px;
	padding: 3px 5px 3px 0;
	text-align: center;
	text-transform: uppercase
}
header div#header-main div#main-nav div#nav-menu ul li a {
	background-color: #2697d1;
	color: white;
	padding: 3px 5px
}
header div#header-main div#main-nav div#nav-menu ul li a:hover {
	color: #003d77!important;
	text-decoration: none
}
header div#header-main div#main-nav div#nav-menu ul li.more {
	background-color: #2697d1;
	border-right: 0;
	font-size: 12px;
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-right: 0;
	position: relative;
	top: 2px
}
header div#header-main div#main-nav div#nav-menu ul li.more img {
	display: none;
	position: relative
}
header div#header-main div#main-nav div#nav-menu ul li.more img#down-arrow-white {
	display: inline
}
header div#header-main div#main-nav div#nav-menu ul li.more ul#more-menu {
	background-color: #2697d1;
	display: none;
	list-style-type: none;
	margin-top: 4px;
	overflow: hidden;
	padding: 10px 0 4px;
	position: absolute;
	right: -11px;
	width: 225%;
	z-index: 20
}
header div#header-main div#main-nav div#nav-menu ul li.more ul#more-menu li {
	border: 0;
	display: block;
	float: right;
	line-height: 11px;
	margin: 0;
	padding: 3px 4px;
	text-align: right;
	text-transform: none;
	width: 95%
}
header div#header-main div#main-nav div#nav-menu ul li.more ul#more-menu li a {
	font: bold 12px Tahoma, san-serif;
	letter-spacing: 1px;
	padding: 0
}
header div#header-main div#main-nav div#nav-menu ul li.more ul#more-menu:hover {
	display: block
}
header div#header-main div#main-nav div#nav-menu ul li.more:hover {
	color: #003d77
}
header div#header-main div#main-nav div#nav-menu ul li.more:hover img#down-arrow-dark-blue {
	display: inline
}
header div#header-main div#main-nav div#nav-menu ul li.more:hover img#down-arrow-white {
	display: none
}
header div#header-main div#main-nav div#nav-menu.channel {
	background-color: white;
	color: #444;
	margin-top: 41px;
}
header div#header-main div#main-nav div#nav-menu.channel li a {
	background-color: white;
	color: #444
}
header div#header-main div#main-nav div#nav-menu.channel li.active a {
	color: #003d77
}
header div#header-main div#main-nav div#nav-menu.channel a:hover {
	color: #003d77!important;
	text-decoration: none
}
header div#header-main div#main-nav div#nav-menu.channel li.more {
	background-color: white
}
header div#header-main div#main-nav div#nav-menu.channel li.more img#down-arrow-gray {
	display: inline
}
header div#header-main div#main-nav div#nav-menu.channel li.more ul#more-menu {
	background-color: #f1f1f1;
	right: 0
}
header div#header-main div#main-nav div#nav-menu.channel li.more ul#more-menu li a {
	background-color: #f1f1f1
}
header div#header-main div#main-nav div#nav-menu.channel li.more:hover {
	background-color: #f1f1f1
}
header div#header-main div#main-nav div#nav-menu.channel li.more:hover img#down-arrow-dark-blue {
	display: inline
}
header div#header-main div#main-nav div#nav-menu.channel li.more:hover img#down-arrow-gray {
	display: none
}
header div#submenu-nav {
	border-bottom: 4px solid #cbdb2a;
	cursor: pointer;
	margin: 10px auto;
	padding-bottom: 10px;
	text-align: center;
	width: 1002px
}
header div#submenu-nav ul {
	display: table;
	font-size: 14px;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%
}
header div#submenu-nav ul li {
	display: table-cell;
	text-align: center
}
header div#submenu-nav ul li a {
	color: #252525
}
header div#submenu-nav.channel {
	background-color: #2697d1;
	color: white;
	border-bottom: 0
}
header div#submenu-nav.channel ul {
	padding-top: 10px
}
header div#submenu-nav.channel ul li strong {
	letter-spacing: 1px
}
header div#submenu-nav.channel ul li a {
	color: #fff !important;
}
header div#submenu-nav.channel ul li a:hover {
	color: #003d77!important
}
aside#right-sidebar {
	float: right;
	width: 250px;
	padding: 0 10px 0 15px
}
aside#right-sidebar h2 {
	font-size: 18px;
	line-height: 20px
}
aside#right-sidebar h3 {
	border-bottom: 2px solid black;
	color: #003d77;
	display: block;
	font: bold 16px Tahoma;
	text-align: left;
	text-transform: uppercase;
	width: 100%
}
aside#right-sidebar .commerce-block .content {
	margin: 20px 0
}
aside#right-sidebar div.block {
	margin: 10px 0 25px 0
}
aside#right-sidebar div.block.block-poll {
	border-top: 3px solid #000;
	margin: 25px 0 0 0;
	padding: 8px 0 20px 0
}
aside#right-sidebar .brightcove-video .field-field-brightcove-hed {
	border-bottom: 2px solid black;
	color: #003d77;
	display: block;
	font: bold 16px Tahoma;
	text-align: left;
	text-transform: uppercase;
	width: 100%
}
aside#right-sidebar .brightcove-video .field-field-brightcove-dek {
	margin: 10px 0
}
aside#right-sidebar div.social-links {
	margin: 0;
	padding: 0
}
aside#right-sidebar div.social-links ul {
	margin: 15px 0 0 42px
}
aside#right-sidebar span.rr-heading {
	border-bottom: 2px solid black;
	color: #003d77;
	display: block;
	font: bold 15px Tahoma;
	text-align: left;
	text-transform: uppercase;
	width: 100%
}
aside#right-sidebar .poll .form-radios div label {
	display: block;
	margin: 0 0 10px
}
aside#right-sidebar .poll .form-radios div input {
	margin: 0 5px 0 0
}
aside#right-sidebar .poll input[type="submit"] {
	margin: 0 10px 0 25px;
	vertical-align: middle
}
.commerce-block a img {
	float: left;
	margin: 0 13px 0 0
}
.commerce-block .right {
	float: left;
	width: 60%
}
.commerce-block h4 a {
	font: bold 16px/18px Tahoma, sans-serif
}
.content-nodes-wrapper .commerce-block {
	border-bottom: dotted 1px #ccc;
	margin: 20px 0;
	padding: 0 0 20px
}
.content-nodes-wrapper .commerce-block .last {
	border: 0;
	margin: 0;
	padding: 0
}
.poll .percent {
	color: #0090c0;
	line-height: 20px;
	margin: 0 0 0 10px
}
.poll .text {
	padding: 5px 0 0 23px
}
.poll .text .first {
	padding: 0 0 0 23px
}
.poll .bar {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px dotted #ccc;
	height: 20px;
	padding: 0 0 9px 23px;
	margin: 5px 0 0 0
}
.poll .bar .last {
	border: 0
}
.poll .bar .foreground {
	background: transparent url("../images/common/poll-bar.png") repeat-x 0 0;
	border: solid 1px #1b7799;
	height: 19px
}
.poll .vote-form .choices {
	display: block
}
.form-checkboxes, .form-radios {
	margin: 0
}
.poll .vote-form {
	display: inline;
	text-align: left
}
.block-poll .links, .block-poll .poll .total {
	display: none;
	visibility: hidden
}
div#poll-cancel-form {
	display: none
}
aside#right-sidebar .tip, .front .tip {
	border-top: 3px solid #000
}
.tip {
	position: relative
}
.subscribe {
	height: 55px;
	float: right;
}
.subscribeimg {
	margin-right: 30px;
}
.front .wrap.left {
	float: left;
	width: 410px
}
.content-nodes-wrapper .float-left, .node-type-expert_home .content-nodes-wrapper a.imagecache {
	display: block;
	float: left;
	margin: 0 7px 0 0
}
.content-nodes-wrapper .float-right {
	float: left;
	width: 66%
}
.content-nodes-wrapper .float-right .more-link {
	padding: 0 0 0 13px
}
.content-nodes-wrapper .views-row {
	margin: 0 0 5px 0
}
.content-nodes-wrapper .content {
	margin: 13px 0 0 12px
}
.content-nodes-wrapper .views-field-title a, .content-nodes-wrapper .views-field-field-expert-question-value a {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	padding: 0 0 0 13px
}
.content-nodes-wrapper .views-field-title a:hover, .content-nodes-wrapper .views-field-field-expert-question-value a:hover {
	color: #2697d1;
	text-decoration: underline
}
.content-nodes-wrapper .field-field-channel-block-link {
	padding: 0 0 0 13px
}
section#content-container {
	float: left
}
.not-front section#content-container {
	width: 620px;
	margin: 0 0 0 15px
}
.node-type-channel section#content-container {
	width: auto;
	margin: 0
}
.node-type-category section#content-container, .node-type-topic section#content-container {
	width: 650px
}
#content-wrapper {
	padding: 8px 0 0 0
}
#topic-nav h6 {
	color: #b91985;
	font: normal 18px/19px Tahoma, sans-serif;
	padding: 0 0 8px 15px;
	margin: 10px 0 0 0
}
#topic-nav dl {
	border-bottom: dotted 1px #cacaca;
	margin: 0 0 9px 10px;
	padding: 0 0 7px 0
}
#topic-nav dl.last {
	border: 0
}
#topic-nav dl dd {
	padding: 0 0 0 5px;
	margin: 0 0 0 5px
}
#topic-nav dl a {
	color: black;
	text-decoration: none;
	line-height: 18px
}
.node-type-brain_game .views-row .views-field-title {
	font: bold 14px/11px Tahoma, sans-serif
}
.views-field-view-node a {
	color: #0090c0;
	font-size: 10px
}
.node-type-brain_game .views-row .views-field-field-brain-game-desc-value {
	margin: 5px 0
}
.node-type-brain_game .views-row .wrap-all {
	float: left;
	width: 350px
}
.byline, .views-field-field-contributor-byline-value {
	color: #ccc;
	font: normal 12px/14px Tahoma, sans-serif;
	display: inline
}
.credit {
	color: #ccc;
	font: normal 10px/11px Tahoma, sans-serif;
	margin: 0;
	text-align: right
}
.node-type-newsletter_page p {
	font-size: 14px;
	line-height: 19px
}
.node-type-newsletter_page input.newsletter-email-address {
	border: 1px solid #ccc;
	color: #ccc;
	font-style: italic;
	margin: 0 8px 0 0;
	padding: 5px 0 6px;
	text-align: center;
	vertical-align: middle;
	width: 200px
}
.node-type-newsletter_page input.newsletter-email-address.filled {
	color: black;
	font-style: normal
}
.node-type-newsletter_form .title {
	margin: 0 0 15px 0
}
.node-type-supplement_list #side-nav, .node-type-supplement_home #side-nav, .node-type-supplement #side-nav, .node-type-condition #side-nav {
	float: left;
	margin: 20px 0 0 0;
	width: 145px
}
.node-type-supplement_list #content, .node-type-supplement_home #content, .node-type-supplement #content, .node-type-condition #content {
	font-size: 14px
}
.node-type-supplement_list .wrap-all, .node-type-supplement_home .wrap-all, .node-type-supplement .wrap-all, .node-type-condition .wrap-all {
	margin: 0 0 20px 0
}
.node-type-supplement_list .content.float-right, .node-type-supplement_home .content.float-right, .node-type-supplement .content.float-right, .node-type-condition .content.float-right {
	width: 460px;
	line-height: 25px
}
.node-type-supplement_home .content.float-right h3 {
	font: normal 24px/26px Tahoma, sans-serif;
	margin: 0 0 15px 0
}
.node-type-supplement .content.float-right h3, .node-type-condition .content.float-right h3 {
	font: bold 24px/26px Tahoma, sans-serif
}
.node-type-supplement #content h4, .node-type-condition #content h4 {
	border-top: solid 1px #ccc;
	font: bold 18px/20px Tahoma, sans-serif;
	margin: 20px 0 0 0;
	padding: 15px 0 0 0
}
.node-type-supplement_list .content.float-right h3, .node-type-supplement .content.float-right h3, .node-type-condition .content.float-right h3 {
	line-height: 14px;
	margin: 15px 0 15px 0
}
.node-type-supplement_list #side-nav ul, .node-type-supplement_home #side-nav ul, .node-type-supplement #side-nav ul, .node-type-condition #side-nav ul {
	margin: 0 0 25px 0
}
.node-type-supplement_list #side-nav li, .node-type-supplement_home #side-nav li, .node-type-supplement #side-nav li, .node-type-condition #side-nav li {
	border-bottom: solid 1px #ccc;
	padding: 8px 0
}
.node-type-supplement_list #side-nav li a.active, .node-type-supplement_home #side-nav li a.active, .node-type-supplement #side-nav li a.active, .node-type-condition #side-nav li a.active {
	background-color: #0090c0;
	color: #fff;
	padding: 2px 10px 2px 3px;
	text-decoration: none
}
.node-type-supplement_list #side-nav h6, .node-type-supplement_home #side-nav h6, .node-type-supplement #side-nav h6, .node-type-condition #side-nav h6 {
	font: bold 14px/15px Tahoma, sans-serif;
	margin: 0 0 4px 0
}
.node-type-supplement_list #side-nav li a, .node-type-supplement_home #side-nav li a, .node-type-supplement #side-nav li a, .node-type-condition #side-nav li a {
	color: #0090c0;
	font: normal 16px/17px Tahoma, sans-serif;
	padding: 0 0 0 3px
}
#content .img-wrap {
	float: left;
	margin: 6px 15px 0 0;
}
.node-type-article section#content-container, .node-type-news section#content-container {
	margin-left: 10px;
	width: 700px
}
.node-type-article #content .float-center, .node-type-news #content .float-center {
	margin: 0 auto 10px auto;
	width: 100px
}
.node-type-article #content .content, .node-type-news #content .content {
	font-size: 14px;
	line-height: 23px;
	margin: 10px 0 0 0
}
.node-type-article #content .content p, .node-type-news #content .content p {
	margin: 0 0 8px 0
}
html, body {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font: normal 12px/18px;
	color: #252525
}
body {
	background: #f5f8f9;
}
.pageheader {
	text-align: center;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: -0.06em;
}
div#page {
	margin: 0 auto;
	width: 1002px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	background: #f5f8f9 url(../images/common/bg-shadow.jpg) repeat-y 50% 0;
}
.link-block {
	display: block
}
p {
	margin: 8px 0;

}
ul.primary {
	display: none
}
.float-left {
	float: left
}
.float-right {
	float: right
}
.inbetween-shadow {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 9999999998
}
div.messages {
	padding: 10px 5px;
	border: 1px solid #a0a0a0;
	background-color: #a2dffd;
	margin-bottom: 10px
}
a {
	color: #2697d1!important;
}
a:hover {
	color: #2697d1!important;
}
input[type="submit"], .button, .button:visited, .button:active {
	background-color: #e50c77;
	color: white;
	font: bold 15px/16px Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	height: 26px;
	padding: 0 10px;
	vertical-align: middle
}
a.button {
	border-top: 2px solid #b3b3b3;
	border-left: 2px solid #b3b3b3;
	border-right: 2px solid #595959;
	border-bottom: 2px solid #595959;
	margin-top: 5px;
	padding: 3px 10px
}
div.a-button-wrapper {
	padding-top: 6px
}
input[type="submit"]:hover, .button:hover {
	color: white!important
}
#content .html-block {
	border-top: 3px solid #000
}
#content .html-block {
	border-top: 3px solid #000
}
#bottom-promo {
	font-size: 14px;
	margin-bottom: 15px;
	overflow: auto
}
#bottom-promo .html-block {
	border-top: 0
}
div.slide_dek div#bottom-promo, body.node-type-news div#bottom-promo {
	margin-bottom: 0
}
.more-link, .more-link:visited, .more-link:hover, .more-link:active {
	color: #2697d1;
	text-decoration: none;
	text-align: left
}
div.social_bar {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
	padding: 5px 0 0 2px;
	width: 100%
}
div.social_bar div {
	display: table-cell;
	vertical-align: middle
}
div.social_bar div.addthis_fb_div {
	vertical-align: middle;
	width: 100px
}
div.social_bar div.not_addthis_pin_div {
	padding-right: 10px;
	vertical-align: middle;
	width: 80px
}
div.social_bar div.addthis_su_div {
	padding-top: 2px;
	padding-right: 10px;
	vertical-align: middle
}
div.social_bar div.addthis_linkedin {
	padding-right: 7px
}
div.social_bar a.button_print, div.social_bar a.button_email {
	margin-right: 10px
}
div#category-sidebar {
	border: 0;
	border-bottom: 3px solid #cbdb2a;
	border-top: 3px solid #cbdb2a
}
div#category-sidebar h4 {
	color: #003d77;
	font: bold 14px Tahoma, san-serif
}
div#category-sidebar li {
	font-size: 13px;
	list-style-type: square
}
h1.pre-title {
	color: #666;
	font-size: 11px;
	padding-bottom: 5px
}
h2.title {
	color: #003d77;
	color: #000;
	font: bold 28px/35px Tahoma, san-serif;
	margin-top: 15px;
}
h3.dek {
	color: #666;
	font-size: 19px/21px
}
span.byline, span.byline {
	color: #676767;
	font: bold 12px Tahoma, san-serif
}
span.byline a, span.byline a {
	color: #2697d1
}
span.byline a:hover, span.byline a:hover {
	color: #003d77!important
}
div#node-logo {
	text-align: center
}
footer h5 {
	color: #928E8E;
	padding: 5px 10px;
}
footer .content p {
	color: #928E8E;
	font-weight: bold;
}
ol {
	list-style-type: decimal !important;
	margin-left: 50px;
	font-style: italic;
	font-weight: bold;
}
.featured {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}

.imagefield {
	padding: 5px;
	border: 1px solid #000;
}
.testdiaryp {
	float: left;
	width: 500px;
	margin: 0;
	margin-bottom: 10px;
}
.pfirst {
	margin-top: 10px;
}
.testdiaryimg {
	float: left;
	width: 150px;
}
.pullleft {
	float: left;
}
.pullright {
	float: right;
}
.clearfix {
	clear: both;
}
.offercaution {
	font-weight: bold;
	margin-left: 50px;
	font-size: 20px;
	vertical-align: super;
	color: #D83939 !important;
}
.lastnav {
	border-right: none !important;
}
.odd {
	text-transform: none !important;
}
.comments {
	padding: 10px;
}
.commentscontainer {
	border-radius: 8px;
	/*border:1px solid #A3A3A3;
	padding:2%;*/
	padding-top: 10px;
}
.commentscontainer a {
	color: #333333 !important;
}
commentsdata_container {
}
.bottomcomments {
	float: left;
	width: 940px;
	padding: 10px;
	border-top: 1px solid #e2e2e2;/*border-bottom:1px solid #e2e2e2;*/
	/*border-radius:8px;*/
	/*background: rgba(47, 95, 97, 0.13);*/
	
}
.bottomcommentssub {
	float: right;
	width: 800px;
	padding: 10px;
	border-top: 1px solid #e2e2e2;/*border-bottom:1px solid #e2e2e2;*/
	/*border-radius:8px;*/
	/*background: rgba(47, 95, 97, 0.13);*/
	
}
.commentsleftcontainer {
	float: left;
}
.commentsleftcontainer p img {
	border: .5px solid #666;
	/*padding:2px;*/
	/*border-radius:70px;*/
	background: #EBEBEB;
	margin-top: 10px;
	/*padding:5px;*/
	margin-right: 15px;
	height: 60px;
	width: 60px;
}
.commentsrightcontainer {
	float: left;
	width: 800px;
	margin-left: 5px;
}
.commentsrightcontainersub {
	float: left;
	width: 700px;
	margin-left: 5px;
}
.namelinkcontainer {
	margin-top: 5px;
	padding-left: 5px;
}
.namelinkcontainer a {
	color: #3b5998 !important;
	font-weight: 600;
	float: left;
	margin-right: 2px;
	text-decoration: none !important;
}
.namelinkcontainer a:hover {
	color: #3b5998;
	text-decoration: underline;
	font-weight: 600;
}
.namelinkcontainer sup {
	margin-left: 4px;
}
.workdetail {
	color: #808080;
	font-size: 12px;
	float: left;
	line-height: 15px;
	vertical-align: bottom;
	margin-top: 5px !important;
	margin-bottom: 0px !important;
}
.commentstimer {
	padding-left: 5px;
	font-weight: 500;
	font-size: 12px;
	float: left;
	color: #666;
}
.likenum {
	color: #3b5998 !important;
	font-size: 12px;
}
.commentstimer a {
	color: #3b5998 !important;
	margin-right: 2px;
	text-decoration: none !important;
}
.commentstimer a:hover {
	color: #3b5998 !important;
	text-decoration: underline;
}
.commentstimer sup {
	margin-left: 4px;
}
.commentsdata {
	/*min-height:70px;*/
	/*padding:5px;*/
	color: #1a1a1a;
	text-shadow: 0.1px 1px #fff;
	margin: 0;
}
header div#header-main div#main-nav div#nav-top div#caslinks {
	float: left;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 180px;
}
.blacklink {
	color: #444 !important;
}
.redlink:hover {
	color: #D83939 !important;
}
.full-width {
	width: 980px !important;
	margin-left: 10px;
	margin-right: 10px;
}
.exitpromotion {
	font-weight: 600;
	line-height: 140%;
	color: #00A0C6;
}
.rightimgcaption {
	clear: both;
	width: 238px;
	float: right;
	margin: auto;
	font-size: 14px;
	line-height: 23px;
	font-style: italic;
	text-align: center;
	padding: 5px;
	margin: 5px;
	margin-right: 0;
	border: 1px dotted #000;
}
.rightvideocaption {
	clear: both;
	width: 238px;
	float: right;
	margin: auto;
	font-size: 14px;
	line-height: 23px;
	font-style: italic;
	text-align: center;
	padding: 5px;
	margin: 5px;
	margin-right: 0;
	border: 1px solid #000;
}
.celebcaption {
	border: 2px dotted #000;
	width: 550px;
	margin: auto;
	font-weight: bold;
	text-align: center;
	padding: 2px 5px;
}
.firstletter {
	font-size: 24px;
	font-weight: bold;
}
.testdiaryresults {
	background-color: #DFF0F3;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	padding: 10px 20px;
	border-width: 1px;
	border-style: dotted;
	margin-top: 1em;
	margin-bottom: 1em;
}
.title {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -1px !important;
	margin-bottom: 15px;
}
.marleft {
	padding-left: 50px;
}
.carmencaptionexit {
	clear: both;
	width: 215px;
	float: right;
	margin: auto;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	padding: 5px;
}
.celebcaptionexit {
	border: 2px dotted #000;
	width: 680px;
	margin-left: 20px !important;
	font-weight: bold;
	text-align: center;
	padding: 2px 5px;
}
.fullwidth {
	width: 980px;
}
.align-center {
	text-align: center;
}
.junk {
	display: none !important;
}
.news-page {
color: #F06;
margin: 8px 0 3px 0;
margin-right: 30px;
padding-left: 3px;
font-family: Tahoma, san-serif;
font-size: 16px;
line-height: 22px;
font-weight: 700;
}
.firstpara {
	float: right;
	width: 580px;
}



.headline {
	width:100%;
	text-align:center;
	margin-bottom:40px;
}
.exitheader {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 40px;
	margin-top: 0.5em;
	margin-bottom: 30px;
}
.subjectheader {
	font-size:26px;
	margin-top:1em;
	margin-bottom:0.5em;
}
.subheader {
	font-size: 30px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

}

.column1 {
	width:370px;
	text-align:center;
	padding-left:70px;
	margin-top:10px;
}

.column2 {
	width: 100px;
	text-align: center;
	margin-top: 130px;
	
}

.column3 {
	width:370px;
	text-align:center;
	padding-right:70px;
		margin-top:10px;

}
.textbox1 {
	text-align:center;
	margin-left:80px;
	width:830px;
	margin-top:30px;
	margin-bottom:30px;
	font-size:150%;
	line-height:130%;
}
.textbox1 p {
	text-align:center;
	
}
.textbox2 {
	text-align:left;
	width:790px;
	margin-left:105px;
	font-size:120%;
	line-height:130%;
}
.textbox2 p {
	text-align:left;
}

.fl {
	float:left;
}
.fr {
	float:right;
}

.news-icon img {
	padding-right:25px;
}
.news-icon {
padding-left:150px;
}

#rush {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font-size: 150%;
	letter-spacing: -1px;
	line-height:40px;
	background-color:#FFC;
	text-align:center;
}
#rush img {
	top: 10px;	
}
.textpad {
	color: #F00;
	text-align:center;

}
