html {
    min-height:100%;
    margin:0;
}
 .clear {
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0;
}
 .clearfix:after {
    clear:both;
    content:' ';
    display:block;
    font-size:0;
    line-height:0;
    visibility:hidden;
    width:0;
    height:0;
}
 .clearfix {
    display:block;
}
 * html .clearfix {
    height:1%;
}
 body {
    background-color:#EBEDF0;
    min-height:100%;
    margin:0;
    padding:0;
}
 a:link,a:visited,a:active,a:focus,a:hover {
    outline:0;
}
 h1,h2,h3,h4 {
    font-family:Trebuchet MS, Helvetica, sans-serif;
}
 .postcontent h1 {
    font:bold 26px/120% Arial, Arial, Helvetica;
    line-height:120%;
    color:#333;
}
 .postcontent h2 {
    font:normal 28px/120% Trebuchet MS, Arial, Helvetica;
    line-height:120%;
    color:#9A1D0D;
}
 .postcontent h3 {
    font:bold 14px/120% Trebuchet MS, Arial, Helvetica;
    line-height:120%;
    color:#00A0C6;
}
 .postcontent h4 {
    font:normal 14px/120% Arial, Arial, Helvetica;
    line-height:120%;
    color:#333;
}
 .postcontent h5 {
    font-size:12px;
    font-weight:700;
    line-height:120%;
}
 .postcontent h6 {
    font-size:11px;
    font-weight:700;
    line-height:120%;
}
 img {
    border:none;
    margin:0;
    padding:0;
}
 .alignleft {
    margin-right:10px;
    margin-bottom:10px;
    float:left;
}
 .alignright {
	margin-right: 20px;
	float: left;
	margin-top: 20px;
}
 .aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}
 hr {
    height:1px;
    border:0;
    width:100%;
    color:#E6E6E6;
    background-color:#E6E6E6;
}
 h2.pagetitle {
    background-color:#FFF;
    font:bold 22px/26px Trebuchet MS;
    color:#000;
    border:solid 0 #B0B0B0;
    margin:0;
    padding:8px 8px 8px 15px;
}
 blockquote {
    clear:both;
    border:1px solid #999;
    background-color:#CCC;
    margin:0 15px 10px;
    padding:10px 15px;
}
 blockquote blockquote {
    margin-right:5px;
    margin-left:0;
    background:#CCC;
}
 blockquote p {
    margin:0;
    padding:0 0 5px;
}
 #bgwrapper {
    width:100%;
    padding-top:0;
    min-height:100%;
    margin:0;
}
 #wrap {
    width:1000px;
    font:15px Trebuchet MS, Arial, sans-serif;
    border:none;
    margin:0 auto 20px;
    padding:0;
}
 #headerwrap {
    width:100%;
    background-color:#FFF;
    border-bottom:solid 0 #D7D7D7;
    text-align:center;
    margin:0;
    padding:0;
}
 #header {
    background:url(./images/bannerheader.jpg) no-repeat bottom center;
    background-color:#FFF;
    width:1000px;
    position:relative;
    height:146px;
    border-top:none;
    border-bottom:none;
    border-right:solid 0 transparent;
    border-left:solid 0 transparent;
    margin:0;
}
 #header a {
    color:#9C9C9C;
    text-decoration:none;
}
 #header h3,#header h1 {
    font-size:34px;
    width:990px;
    font-weight:400;
    line-height:38px;
    font-family:Georgia;
    text-align:center;
    margin:0;
    padding:0 0 10px 10px;
}
 #header h3 a,#header h1 a {
    color:#9C9C9C;
}
 #header h3 a:hover,#header h1 a:hover {
    color:#999;
    text-decoration:none;
}
 p.tagline {
    font-size:14px;
    font-weight:700;
    width:990px;
    left:20px;
    color:#FFF;
    float:left;
    text-align:center;
    margin:0;
    padding:0 0 0 10px;
}
 #navwrap {
    width:100%;
    background:left top repeat;
    background-color:#F6F7F7;
    text-align:center;
    margin:0 0 5px;
    padding:0;
}
 #navwrap #nav {
    background:left top repeat;
    background-color:#F6F7F7;
    width:992px;
    padding-left:8px;
    text-align:left;
    border-bottom:solid 0 #D7D7D7;
    border-left:solid 0 transparent;
    border-right:solid 0 transparent;
    border-top:none;
    margin:0 0 5px;
}
 .sf-menu,.sf-menu * {
    list-style:none;
    margin:0;
    padding:0;
}
 ul.sf-menu {
    line-height:1.0;
}
 .sf-menu ul {
    position:absolute;
    top:-999em;
    width:150px;
}
 .sf-menu ul li {
    width:100%;
}
 .sf-menu li:hover {
    visibility:inherit;
}
 .sf-menu li {
    float:left;
    position:relative;
    z-index:10;
}
 .sf-menu a {
    display:block;
    position:relative;
    font-size:14px;
    font-weight:700;
    font-family:Trebuchet MS, Arial, Helvetica;
    line-height:33px;
    white-space:pre;
    margin-right:0;
    height:33px;
    background:left top repeat-x;
    background-color:#F6F7F7;
    text-decoration:none;
    padding:0;
}
 .sf-menu li li a {
    font-size:12px;
    font-family:Arial, Arial, Helvetica;
    width:150px;
    height:100%;
    margin:0;
    padding:9px 0;
}
 .sf-menu ul a {
    white-space:normal;
}
 .sf-menu li:hover ul,.sf-menu li.sfHover ul {
    left:-1px;
    top:33px;
    z-index:99;
}
 #navwrap #nav ul.sf-menu li:hover,#navwrap #nav ul.sf-menu li.sfHover * {
    z-index:1000;
}
 ul.sf-menu li li:hover ul li,ul.sf-menu li li.sfHover ul li {
    left:1px;
}
 .sf-menu {
    float:left;
    margin-bottom:0;
}
 .sf-menu li a span {
    display:block;
    margin-left:11px;
    padding-left:1px;
    padding-right:13px;
    line-height:33px;
    padding-bottom:0;
    color:#008CD3;
    background:right top no-repeat;
    background-color:#F6F7F7;
    text-decoration:none;
}
 .sf-menu li li a span {
    display:block;
    padding-bottom:0;
}
 .sf-menu a,.sf-menu a:visited {
    color:#008CD3;
}
 .sf-menu li li {
    color:#CCC;
    background:#1F242C;
    border-bottom:1px solid #000;
}
 .sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active,.sf-menu li.sfHover a {
    background-position:left -33px;
    text-decoration:none;
    background-color:#FF9600;
    cursor:pointer;
    outline:0;
    color:#FFF;
}
 .sf-menu li.current_page_item a:hover,.sf-menu li.current-menu-item a:hover {
    color:#FFF;
    background-color:#FF9600;
}
 .sf-menu li.current_page_item a,.sf-menu li.current_page a,.sf-menu li.current-menu-item a {
    background-position:left -33px;
    background-color:#FF9600;
}
 .sf-menu li li a:focus,.sf-menu li li a:hover,.sf-menu li li a:active {
    background:#3D4A57;
    outline:0;
    color:#FFF;
}
 .sf-menu li li a:focus span,.sf-menu li li a:hover span,.sf-menu li li a:active span {
    color:#FFF;
    background:transparent;
}
 .sf-menu li li.current_page_item a,.sf-menu li.current_page_item li a,.sf-menu li li.current-menu-item a,.sf-menu li.current-menu-item li a {
    background-image:none;
    background-color:#1F242C;
}
 .sf-menu li li.current_page_item a:hover,.sf-menu li.current_page_item li a:hover,.sf-menu li li.current-menu-item a:hover,.sf-menu li.current-menu-item li a:hover {
    background-image:none;
    background-color:#3D4A57;
}
 .sf-menu li:hover,.sf-menu li.sfHover {
    outline:0;
    color:#FFF;
}
 .sf-menu li:hover li,.sf-menu li.sfHover li,.sf-menu li.sfHover li {
    background:#1F242C;
    outline:0;
    color:#CCC;
}
 .sf-menu li li a span,.sf-menu li li a:hover span {
    line-height:normal;
}
 span.sf-sub-indicator {
    top:1.05em;
}
 a > span.sf-sub-indicator {
    top:11px;
    background-position:0 -100px;
}
 ul ul a > span.sf-sub-indicator {
    top:10px;
}
 .sf-menu a.sf-with-ul {
    padding-right:0!important;
    min-width:1px;
}
 .sf-menu a.sf-with-ul span {
    padding-right:23px;
}
 .sf-menu a.sf-with-ul span.sf-sub-indicator {
    position:absolute;
    display:block;
    right:10px;
    width:10px;
    height:10px;
    text-indent:-999em;
    overflow:hidden;
    background:transparent url(http://officialconsumerreport.com/images/arrows-white.png) no-repeat -10px -100px;
    padding:0;
}
 a:focus > .sf-sub-indicator,a:hover > .sf-sub-indicator,a:active > .sf-sub-indicator,li:hover > a > .sf-sub-indicator,li.sfHover > a > .sf-sub-indicator {
    background-position:-10px -100px;
}
 #secondary-navwrap {
    width:100%;
    background-image:none;
    background-color:#555;
    text-align:center;
    margin:0;
    padding:0;
}
 #secondary-nav {
    background-color:#555;
    border-bottom:solid 0 #D7D7D7;
    width:992px;
    padding-left:8px;
    text-align:left;
    border:none;
    margin:0;
}
 #secondary-nav .sf-menu ul {
    width:150px;
}
 #secondary-nav ul.sf-menu {
    float:left;
    line-height:1.0;
}
 #secondary-navwrap #secondary-nav ul.sf-menu li:hover,#secondary-navwrap #secondary-navul.sf-menu li.sfHover * {
    z-index:999;
}
 #secondary-nav .sf-menu li li a {
    font-size:12px;
    font-family:Arial, Arial, Helvetica;
    width:134px;
    height:100%;
    line-height:30px;
    padding:0 8px;
}
 #secondary-nav ul.sf-menu li li:hover ul li,#secondary-nav ul.sf-menu li li.sfHover ul li {
    left:0;
}
 #secondary-nav .sf-menu li:hover ul,#secondary-nav .sf-menu li.sfHover ul {
    left:-1px;
    top:33px;
    z-index:90;
}
 #secondary-nav .sf-menu a {
    display:block;
    position:relative;
    font-size:12px;
    font-weight:400;
    font-family:Arial, Arial, Helvetica;
    line-height:33px;
    white-space:pre;
    height:33px;
    background-color:#555;
    text-decoration:none;
    background-image:none;
    margin:0;
    padding:0 8px;
}
 #secondary-nav .sf-menu li li {
    color:#CCC;
    background-color:#1F242C;
    border-bottom:1px solid #000;
}
 #secondary-nav .sf-menu a:focus,#secondary-nav .sf-menu a:hover,#secondary-nav .sf-menu a:active,#secondary-nav .sf-menu li.sfHover a {
    background-color:#A10000;
    color:#FFF;
}
 #secondary-nav .sf-menu li.current_page_item a:hover,#secondary-nav .sf-menu li.current-menu-item a:hover {
    color:#FFF;
    background-color:#A10000;
}
 #secondary-nav .sf-menu li.current_page_item a,#secondary-nav .sf-menu li.current_page a,#secondary-nav .sf-menu li.current-menu-item a {
    background-position:left -30px;
    background-color:#A10000;
}
 #secondary-nav .sf-menu li.sfHover li a {
    background-color:#1F242C;
    color:#CCC;
}
 #secondary-nav .sf-menu li li a:focus,#secondary-nav .sf-menu li li a:hover,#secondary-nav .sf-menu li li a:active {
    background-color:#3D4A57;
    color:#FFF;
}
 #secondary-nav .sf-menu li:hover li,#secondary-nav .sf-menu li.sfHover li,#secondary-nav .sf-menu li.sfHover li {
    background:#1F242C;
    color:#CCC;
}
 #secondary-nav .sf-menu a.sf-with-ul {
    padding-right:25px!important;
    min-width:1px;
}
 #secondary-nav .sf-menu ul a.sf-with-ul {
    padding-right:8px!important;
}
 #secondary-nav .sf-menu a.sf-with-ul span.sf-sub-indicator {
    background:transparent url(http://officialconsumerreport.com/images/arrows-white.png) no-repeat -10px -100px;
    right:10px;
}
 #secondary-nav .sf-menu li {
    z-index:8;
}
 .headwidget {
    float:right;
}
 #header #searchform {
    width:242px;
    height:31px;
    background:url(http://officialconsumerreport.com/images/searchboxes/simple.png) left 0 no-repeat;
    position:absolute;
    top:0;
    right:15px;
}
 * html #header #searchform {
    padding:5px 0;
}
 #header #searchbox {
    margin-left:28px;
    margin-top:6px;
    margin-bottom:3px;
    width:140px;
    background:none;
    border:none;
    color:#FFF;
    font-size:11px;
}
 #header #searchbutton {
    width:50px;
    background:none;
    border:none;
    margin-left:10px;
}
 #header #searchbutton:hover {
    cursor:pointer;
}
 #sidebar-top #searchform2,#sidebar-bottom #searchform2 {
    width:275px;
    padding:8px;
}
 #sidebar-top input#searchbox2,#sidebar-bottom input#searchbox2 {
    width:160px;
    padding:2px;
}
 #sidebar-top input#searchbutton2,#sidebar-bottom input#searchbutton2 {
    width:100px;
    color:#333;
    background:#6DA0CB url(http://officialconsumerreport.com/images/form-btn-bg.png) no-repeat center;
    border:1px solid #B8B8B8;
    cursor:pointer;
    padding:2px 0;
}
 #sidebar-top #s,#sidebar-bottom #s {
    width:290px;
    margin:20px 0 5px;
}
 #sidebar-left #searchform2 {
    width:280px;
    padding:8px;
}
 #sidebar-left #s {
    width:190px;
    margin:20px 0 5px;
}
 #sidebar-right #searchform2 {
    width:280px;
}
 #sidebar-right #s {
    width:130px;
    margin:20px 0 5px;
}
 #header .headerwidget {
    width:500px;
    height:70px;
    position:absolute;
    top:50px;
    right:10px;
    text-align:right;
    color:#FFF;
    font:normal 13px/17px Arial, Helvetica, Georgia;
}
 #header .headerwidget a {
    color:#F90;
}
 .headerwidget p {
    padding-top:0;
    margin-top:0;
}
 p.headtitle {
    color:#FFF;
    font-weight:700;
    padding-right:8px;
    padding-top:0;
    margin-top:0;
}
 #rssfeeds {
    width:300px;
    height:70px;
    position:absolute;
    padding-top:0;
    bottom:0;
    right:22px;
    color:#FFF;
}
 #rssicon {
    float:right;
    margin-left:5px;
}
 #rssfeeds a {
    color:#FFF;
    text-decoration:underline;
}
 #rssfeeds p {
    line-height:16px;
    text-align:right;
    margin:0;
    padding:27px 0 0;
}
 #feature {
    background-color:#FFF;
    width:1000px;
    clear:both;
    color:#991818;
    padding-bottom:10px;
    border-left:solid 0 transparent;
    border-right:solid 0 transparent;
    border-top:none;
    border-bottom:none;
    border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    margin:0;
}
 #feature .topshadow {
    width:1000px;
    border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
}
 #feature h2 {
    color:#FFF;
    font-family:Arial, Arial, Helvetica;
    font-size:18px;
    margin:0 0 10px;
    padding:0;
}
 #feature .textwidget {
    color:#991818;
    padding:0;
}
 #content {
    width:1000px;
    position:relative;
    float:left;
    color:#333;
    background-color:#FFF;
    border-top:none;
    border-bottom:none;
    border-left:solid 0 transparent;
    border-right:solid 0 transparent;
    border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    margin:0;
    padding:0;
}
 .post a:link,.post a:visited,.post a:active {
    text-decoration:none;
    color:#AC1414;
    border:0;
    outline:0;
}
 .post a:hover {
    text-decoration:underline;
    color:#AC1414;
    border:0;
    outline:0;
}
 .posthead h1,.posthead h2 {
    text-align:left;
    background-color:#FFF;
    font:bold 28px/32px Trebuchet MS;
    border-bottom:dotted 1px #666;
    margin:0;
    padding:15px 8px 15px 15px;
}
 .postwrap {
    float:left;
    width:1000px;
    margin-bottom:5px;
    padding:0;
}
 .post {
    background-color:#FFF;
    margin-bottom:0;
    border:solid 0 #B0B0B0;
    padding:0;
}
 .postwrap p {
    line-height:140%;
}
 .posthead {
    padding-bottom:0;
    position:relative;
    clear:left;
    margin-bottom:0;
}
 #content .posthead h1 a:hover,#content .posthead h2 a:hover,#content .postMeta a:hover {
    text-decoration:none;
    color:#000;
}
 .postMeta {
    background-color:#FFF;
    color:#666;
    font-size:11px;
    height:20px;
    margin:0;
    padding:5px 15px;
}
 .postMeta a,.postMeta a:link,.postMeta a:visited,.postMeta a:active {
    text-decoration:none;
    color:#666;
}
 #content .postMeta a:hover {
    text-decoration:underline;
    color:#666;
}
 div.commentcount {
    padding-left:24px;
    background:url(http://officialconsumerreport.com/images/comment.png) left top no-repeat;
    text-decoration:none;
    padding-top:3px;
    padding-bottom:3px;
    float:right;
}
 div.postdate {
    padding-left:24px;
    background:url(http://officialconsumerreport.com/images/date.png) left top no-repeat;
    text-decoration:none;
    padding-top:3px;
    padding-bottom:3px;
    float:left;
}
 #content .postcontent {
    line-height:140%;
    color:#333;
    padding:8px 15px 10px;
}
 pre {
    background-color:#F9F8E3;
    border:1px dotted #999;
    margin:0 15px 10px;
    padding:0 8px 15px;
}
 .more-link {
    font-weight:700;
    margin-top:15px;
    height:16px;
    width:300px;
    display:block;
}
 .Note {
    font-size:11px;
    margin:0;
    padding:0;
}
 ul.Note {
    margin-top:0;
    padding:5px;
}
 .Note li {
    list-style-type:none;
    padding:2px 0 2px 15px;
}
 .NoteRss {
    background:url(http://officialconsumerreport.com/images/NoteRss.png) no-repeat left 2px;
    display:inline;
    margin-left:5px;
}
 .NoteTrackBack {
    background:url(http://officialconsumerreport.com/images/NoteTrackBack.gif) no-repeat left 2px;
    display:inline;
    margin-left:10px;
}
 .comment-wrap {
    display:block;
    padding:10px;
}
 .commentdate {
    padding-left:0;
}
 #commentlist li p {
    margin-bottom:8px;
    line-height:120%;
    padding:0;
}
 .commentname {
    margin:0;
    padding:5px 5px 5px 0;
}
 .commenttext {
    clear:both;
    padding-top:10px;
    display:block;
    margin-bottom:0;
}
 .comment-wrap blockquote,.comment-wrap blockquote blockquote {
    margin-bottom:10px;
    margin-top:8px;
    background:url(http://officialconsumerreport.com/images/comments-lighter.png) no-repeat top left;
    border:1px solid #000;
}
 .commenttext p {
    margin:0;
    padding:0 0 10px;
}
 #commentform #submit {
    color:#FFF;
    font-family:Arial, Helvetica;
    font-size:14px;
    font-weight:700;
    border:1px solid #000;
    display:block;
    background-color:#0D7EA6;
    margin:0;
    padding:4px;
}
 #commentform input,#commentform textarea {
    background-color:#FFF;
    border:solid 1px #EBEDF0;
    color:#333;
    padding:5px;
}
 #commentform textarea {
    width:98%;
}
 p.meta {
    float:left;
    margin:0 0 5px;
    padding:0;
}
 p.approval {
    font-style:italic;
    clear:left;
}
 p.commenttitle {
    font:18px Georgia, "Times New Roman", Times, serif;
    margin-top:0;
    padding-top:0;
}
 #sidebar {
    float:right;
    width:290px;
    position:relative;
    padding-right:0;
    margin:0 0 15px;
}
 #left-sidebar {
    float:left;
    width:160px;
    position:relative;
    padding-left:0;
    margin:0 0 15px;
}
 #sidebar ul,#left-sidebar ul,#feature ul {
    margin:0;
    padding:0 0 0 8px;
}
 #sidebar-top,#sidebar-bottom {
    width:290px;
    color:#333;
    font-family:Arial, Arial, Helvetica;
    font-size:14px;
    padding:0;
}
 #left-sidebar-top {
    width:160px;
    color:#333;
    font-family:Arial, Arial, Helvetica;
    font-size:14px;
    padding:0;
}
 #sidebar-bottom {
    padding-top:10px;
}
 #sidebar-top h5,#sidebar-bottom h5,#left-sidebar-top h5 {
    color:#333;
    font-family:Arial, Arial, Helvetica;
    font-size:17px;
    background:url(http://officialconsumerreport.com/images/sidebars/horizontal-lines-light.png) repeat-x 0 center;
    background-color:#6DA0CB;
    border-bottom:solid 1px #B8B8B8;
    text-transform:none;
    letter-spacing:1px;
    text-align:left;
    margin:0;
    padding:8px 8px 8px 23px;
}
 #sidebar-top a,#sidebar-top a:visited,#sidebar-top a:active,#sidebar-bottom a,#sidebar-bottom a:visited,#sidebar-bottom a:active,#left-sidebar-top a,#left-sidebar-top a:visited,#left-sidebar-top a:active {
    color:#0800E3;
}
 #sidebar-top .textwidget,#sidebar-bottom .textwidget,#left-sidebar-top .textwidget {
    color:#333;
    padding:10px;
}
 #sidebar-top ul,#sidebar-bottom ul,#left-sidebar-top ul {
    list-style-type:none;
    padding:10px;
}
 #sidebar-top .widget,#sidebar-bottom .widget,#left-sidebar-top .widget {
    background-color:#FFF;
    border:solid 1px #B8B8B8;
    margin:0;
}
 #sidebar-top ul li,#sidebar-bottom ul li,#left-sidebar-top ul li {
    list-style-type:none;
    background:url(http://officialconsumerreport.com/images/liarrow-dark.png) no-repeat left 2px;
    line-height:120%;
    margin:4px 0;
    padding:0 0 0 8px;
}
 #sidebar-left a,#sidebar-left a:visited,#sidebar-left a:active,#sidebar-right a,#sidebar-right a:visited,#sidebar-right a:active {
    color:#666;
    text-decoration:none;
}
 #left-sidebar #sidebar-left,#sidebar #sidebar-left,#sidebar #sidebar-right {
    color:#666;
}
 #sidebar-left {
    float:left;
    width:280px;
    font-family:Arial, Arial, Helvetica;
    font-size:12px;
    padding:0 4px;
}
 #sidebar-left h5,#sidebar-right h5 {
    padding-left:5px;
    float:left;
    width:100%;
    color:#A10000;
    border-bottom:solid 1px #999;
    font-family:Arial, Arial, Helvetica;
    font-size:17px;
    text-transform:uppercase;
    letter-spacing:0;
    text-align:left;
    margin:8px 0 10px;
}
 #sidebar-right {
    float:right;
    width:280px;
    font-family:Arial, Arial, Helvetica;
    font-size:12px;
    padding:0 4px;
}
 #sidebar-left ul,#sidebar-right ul {
    padding-left:5px;
}
 #sidebar-left ul ul,#sidebar-right ul ul {
    padding-left:2px;
}
 #sidebar-right ul li,#sidebar-left ul li {
    background:url(http://officialconsumerreport.com/images/liarrow-dark.png) no-repeat left 0;
    list-style:none;
    width:95%;
    line-height:140%;
    margin:0;
    padding:0 0 0 8px;
}
 #sidebar-left li,#sidebar-right li {
    float:left;
    width:100%;
    list-style:none;
}
 #sidebar-left h5 a.rsswidget,#sidebar-bottom h5 a.rsswidget,#sidebar-right h5 a.rsswidget {
    color:#A10000;
    text-decoration:none;
}
 #sidebar .rsswidget img,#left-sidebar .rsswidget img {
    float:left;
    margin-top:2px;
    margin-right:7px;
}
 #footer {
    float:left;
    width:100%;
    background-color:#6A6A6A;
    color:#E4E4E4;
    font:15px Trebuchet MS, Arial, sans-serif;
    border:none;
    margin:0;
    padding:0;
}
 #squeeze #footer {
    border:none;
    width:650px;
    background-color:#F0F0F0;
    color:#A3A3A3;
    text-align:center;
}
 #footer a:link,#footer a:visited,#footer a:hover,#footer a:active,#footer a:focus {
    color:#E4E4E4;
    text-decoration:underline;
}
 #squeeze #footer a:link,#squeeze #footer a:visited,#squeeze #footer a:active,#squeeze #footer a:focus {
    color:#A3A3A3;
    text-decoration:none;
}
 #footerdark {
    width:100%;
    padding:7px 0 25px;
}
 #footercontent {
    width:1000px;
    margin:0 auto;
}
 #footerdark,#footerdark p {
    text-align:left;
}
 #squeeze #footerdark {
    width:650px;
    background:none;
}
 #footer .topshadow {
    padding-bottom:20px;
    width:1000px;
    margin:0 auto;
}
 #footer p {
    margin:0;
    padding:10px 0 0 15px;
}
 #footerdark p {
    padding-right:15px;
}
 #footerfeature {
    width:100%;
    color:#D1D1D1;
    background-color:#323232;
    margin:0 auto;
}
 #footerfeature .textwidget p {
    margin:8px 0;
    padding:0;
}
 #footerfeature h2 {
    color:#DCC08E;
    font-family:Trebuchet MS, Arial, Helvetica;
    font-size:18px;
    margin:0 0 10px;
    padding:0;
}
 #footerfeature .textwidget {
    color:#E4E4E4;
    padding:0;
}
 #footerfeature a:link,#footerfeature a:visited,#footerfeature a:hover,#footerfeature a:active,#footerfeature a:focus {
    color:#AC1414;
}
 .wp-caption {
    border:1px solid #ddd;
    text-align:center;
    background-color:#f3f3f3;
    padding-top:4px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -webkit-border-radius:3px;
    margin:10px;
}
 .wp-caption img {
    border:0 none;
    margin:0;
    padding:0;
}
 .wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:120%;
    margin:0;
    padding:0 4px 5px;
}
 #wp-calendar {
    width:100%;
    border-collapse:collapse;
    background:#FFF;
    margin:0;
    padding:0;
}
 #sidebar-left #wp-calendar,#sidebar-right #wp-calendar {
    float:left;
}
 #wp-calendar caption {
    text-align:left;
    font-family:Arial, Arial, Helvetica;
    font-size:17px;
    font-weight:700;
    color:#A10000;
    text-transform:uppercase;
    letter-spacing:0;
    padding:5px 0 5px 8px;
}
 #wp-calendar td {
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
    line-height:15px;
}
 #wp-calendar th {
    background-color:#FFF;
    color:#FFF;
}
 #wp-calendar tbody {
    border-right:1px solid #D8D8D8;
    border-left:1px solid #D8D8D8;
}
 #content #sidebar #wp-calendar a {
    font-weight:700;
    color:#FFF;
    text-decoration:none;
    display:block;
    background-color:#FFF;
    border-style:none;
    margin:0;
    padding:0;
}
 #content #sidebar #wp-calendar a:hover {
    font-weight:700;
    color:#999;
    text-decoration:none;
    border-style:none;
    margin:0;
    padding:0;
}
 #wp-calendar tfoot,#wp-calendar tfoot .pad {
    background-color:#FFF;
}
 #wp-calendar tfoot a {
    display:block;
    color:#FFF;
    text-decoration:none;
    padding:2px 0;
}
 #wp-calendar tfoot td {
    padding:4px 0;
}
 #credit {
    font:11px Arial, Helvetica;
    width:1000px;
    text-align:center;
    margin:0 auto;
    padding:8px;
}
 #rss a {
    color:#333;
    line-height:20px;
}
 .clearer {
    clear:both;
    float:none;
}
 #nextprevious {
    margin-bottom:15px;
    float:left;
    width:95%;
    text-align:center;
    padding:5px 0;
}
 img.avatar {
    float:right;
    border:solid 2px #000;
}
 div.vcard a {
    font-weight:700;
}
 ol li div.comment-meta {
    font-size:9px;
    margin:5px 0 10px;
}
 ol.commentlist {
    list-style:none;
    text-indent:0;
    color:#333;
    margin:0 0 1em;
    padding:0;
}
 ol.commentlist li {
    margin-bottom:10px;
}
 ol.commentlist li.comment {
    padding:1em;
}
 div.vcard {
    font:normal 16px georgia,times,serif;
}
 ol.commentlist li div.vcard cite.fn {
    font-style:normal;
    font-weight:700;
}
 ol.commentlist li div.vcard img.avatar {
    border:2px solid #000;
    float:right;
    margin:0 0 1em 1em;
}
 ol.commentlist li div.comment-body p {
    font-family:Arial, Arial, Helvetica;
    font-size:14px;
}
 ol.commentlist li div.comment-meta {
    font-size:10px;
    margin:5px 0 10px;
}
 ol.commentlist li p {
    margin:0 0 1em;
}
 ol.commentlist li ul {
    list-style:square;
    margin:0 0 1em 2em;
}
 ol.commentlist li div.reply {
    font-size:11px;
}
 #content ol.commentlist li div.reply a {
    color:#FFF;
    font-weight:700;
    background-color:#0D7EA6;
    border:1px solid #000;
    text-decoration:none;
    padding:3px 6px;
}
 #content ol.commentlist li div.reply a:hover {
    background-color:#555;
    text-decoration:none;
}
 ol.commentlist li ul.children {
    list-style:none;
    text-indent:0;
    margin:1em 0 0;
}
 ol.commentlist li.depth-1,ol.commentlist li.depth-1.parent {
    border:solid 1px #EBEDF0;
}
 ol.commentlist li.even {
    background-color:#FFF;
    background-image:none;
}
 ol.commentlist li.comment-author-admin.even,ol.commentlist li.comment-author-admin.odd {
    background-color:#EBEDF0;
    background-image:none;
}
 ol.commentlist li.odd {
    background:url(http://officialconsumerreport.com/images/comments-lighter.png) no-repeat top left;
    background-color:#FFF;
}
 ol.commentlist li.pingback {
    border-bottom:1px dotted #666;
    padding:1em;
}
 #squeeze #bgwrapper {
    width:100%;
    padding-top:0;
    background:url(http://officialconsumerreport.com/images/bg-fade.png) repeat-x top left;
    min-height:100%;
    margin:0;
}
 #squeeze #wrap {
    width:650px;
    border:solid 0 #D7D7D7;
}
 #squeeze #spheader {
    width:650px;
    height:161px;
    border-bottom:none;
    color:#FFF;
    padding-top:25px;
}
 #squeeze #spheader h3 {
    width:400px;
    padding-left:20px;
    font-size:36px;
    font-family:Trebuchet MS;
    font-weight:400;
    line-height:40px;
    margin:0;
}
 #squeeze #spheader p.tagline {
    width:400px;
    padding-left:20px;
    color:#FFF;
    font-size:16px;
}
 #squeeze #nav {
    width:642px;
    margin-top:0;
}
 #squeeze .feat_box {
    width:600px;
}
 #mainContent {
    width:645px;
    position:relative;
    float:left;
    text-align:left;
    color:#000;
    background-color:#FFF;
    font-family:Verdana, helvetica, sans serif;
    font-size:13px;
    line-height:17px;
    padding:5px 0 0 5px;
}
 #mainContent .postwrap {
    float:left;
    width:640px;
    margin-bottom:5px;
    padding:0;
}
 #mainContent .postcontent {
    background-color:#fff;
    padding:20px;
}
 .greybox {
    width:80%;
    margin-right:auto;
    margin-left:auto;
    background-color:#F3F3F3;
    border:1px solid #ccc;
    margin-bottom:10px;
    padding:10px 20px;
}
 .offercoupon {
    background-color:#FEFCD8;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:18px;
    font-weight:700;
    background-image:url(http://officialconsumerreport.com/images/coupon-bg.jpg);
    background-repeat:repeat-x;
    background-position:bottom;
    padding:20px;
}
 .offercouponoutline {
    width:70%;
    text-align:center;
    border:4px dashed #C00;
    margin:30px auto;
    padding:5px;
}
 #mainContent .offercoupon p {
    line-height:22px;
}
 .shadowbox {
    background-color:#FFF;
    width:90%;
    text-align:center;
    margin:20px auto;
}
 .sbcontent {
    border:1px solid #E2E2E2;
    background-color:#F3F3F3;
    background-image:url(http://officialconsumerreport.com/images/shadowbox-corner.jpg);
    background-repeat:no-repeat;
    background-position:right bottom;
    padding:15px;
}
 .sbshadow {
    background-image:url(http://officialconsumerreport.com/images/shadowbox-shadow.jpg);
    background-repeat:no-repeat;
    background-position:right top;
    height:28px;
}
 ul.greencheck,ul.redstop,ul.bluecheck,ul.greencheckbox,ul.bluecheckbox,ul.orangecheckbox,ul.greencheck2,ul.greencheck3,ul.plusgreen,ul.redstop2,ul.redstop3,ul.redstop4,ul.redstop5,ul.warning,ul.question {
    line-height:18px;
    min-height:0;
}
 .greencheck li,.redstop li,.bluecheck li,.greencheckbox li,.bluecheckbox li,.orangecheckbox li,#feature .greencheck li,#feature .redstop li,#feature .bluecheck li,#feature .greencheckbox li,#feature .bluecheckbox li,#feature .orangecheckbox li,#footerfeature .greencheck li,#footerfeature .redstop li,#footerfeature .bluecheck li,#footerfeature .greencheckbox li,#footerfeature .bluecheckbox li,#footerfeature .orangecheckbox li {
    list-style:none;
    margin-top:10px;
    background-repeat:no-repeat;
    background-position:5px top;
    padding:4px 20px 10px 50px;
}
 .greencheck2 li,.greencheck3 li,.plusgreen li,.redstop2 li,.redstop3 li,.redstop4 li,.redstop5 li,.warning li,.question li,#feature .greencheck2 li,#feature .greencheck3 li,#feature .plusgreen li,#feature .redstop2 li,#feature .redstop3 li,#feature .redstop4 li,#feature .redstop5 li,#feature .warning li,#footerfeature .greencheck2 li,#footerfeature .greencheck3 li,#footerfeature .plusgreen li,#feature .question li,#footerfeature .redstop2 li,#footerfeature .redstop3 li,#footerfeature .redstop4 li,#footerfeature .redstop5 li,#footerfeature .warning li,#footerfeature .question li {
    list-style:none;
    margin-top:10px;
    background-repeat:no-repeat;
    background-position:left top;
    padding:4px 20px 10px 50px;
}
 .greencheck li,#feature .greencheck li,#footerfeature .greencheck li /* {
    background-image:url(http://officialconsumerreport.com/images/checkmark-green.png);
}
 .greencheck2 li,#feature .greencheck2 li,#footerfeature .greencheck2 li {
    background-image:url(http://officialconsumerreport.com/images/checkmark-green2.png);
}
 .greencheck3 li,#feature .greencheck3 li,#footerfeature .greencheck3 li {
    background-image:url(http://officialconsumerreport.com/images/checkmark-green3.png);
}
 .plusgreen li,#feature .plusgreen li,#footerfeature .plusgreen li {
    background-image:url(http://officialconsumerreport.com/images/plus-green.png);
}
 .question li,#feature .question li,#footerfeature .question li {
    background-image:url(http://officialconsumerreport.com/images/blue-question.png);
}
 .redstop li,#feature .redstop li,#footerfeature .redstop li {
    background-image:url(http://officialconsumerreport.com/images/stop.png);
}
 .redstop2 li,#feature .redstop2 li,#footerfeature .redstop2 li {
    background-image:url(http://officialconsumerreport.com/images/stop2.png);
}
 .redstop3 li,#feature .redstop3 li,#footerfeature .redstop3 li {
    background-image:url(http://officialconsumerreport.com/images/stop3.png);
}
 .redstop4 li,#feature .redstop4 li,#footerfeature .redstop4 li {
    background-image:url(http://officialconsumerreport.com/images/stop4.png);
}
 .redstop5 li,#feature .redstop5 li,#footerfeature .redstop5 li {
    background-image:url(http://officialconsumerreport.com/images/stop5.png);
}
 .warning li,#feature .warning li,#footerfeature .warning li {
    background-image:url(http://officialconsumerreport.com/images/warning.png);
}
 .bluecheck li,#feature .bluecheck li,#footerfeature .bluecheck li {
    background-image:url(http://officialconsumerreport.com/images/checkmark-blue.png);
}
 .bluecheckbox li,#feature .bluecheckbox li,#footerfeature .bluecheckbox li {
    background-image:url(http://officialconsumerreport.com/images/checkbox-blue.png);
}
 .greencheckbox li,#feature .greencheckbox li,#footerfeature .greencheckbox li {
    background-image:url(http://officialconsumerreport.com/images/checkbox-green.png);
}
 .orangecheckbox li,#feature .orangecheckbox li,#footerfeature .orangecheckbox li {
    background-image:url(http://officialconsumerreport.com/images/checkbox-orange.png);
}
 .shortfade {
    background:url(http://officialconsumerreport.com/images/fades/sp-short-fade.png) repeat-x center left;
}
 .shortreflect {
    background:url(http://officialconsumerreport.com/images/fades/sp-short-reflect.png) repeat-x center left;
}
 .longfade {
    background:url(http://officialconsumerreport.com/images/fades/sp-long-fade.png) repeat-x top left;
}
 .longfadedark {
    background:url(http://officialconsumerreport.com/images/fades/sp-long-fade-dark.png) repeat-x top left;
}
 .longfadelight {
    background:url(http://officialconsumerreport.com/images/fades/sp-long-fade-light.png) repeat-x top left;
}
 .downarroworange {
    background:url(http://officialconsumerreport.com/images/down-arrow-orange.png) no-repeat top center;
    padding-top:120px;
    width:100%;
}
 .downarrowblue {
    background:url(http://officialconsumerreport.com/images/down-arrow-blue.png) no-repeat top center;
    padding-top:120px;
    width:100%;
}
 .downarrowgreen {
    background:url(http://officialconsumerreport.com/images/down-arrow-green.png) no-repeat top center;
    padding-top:120px;
    width:100%;
}
 .downarrowred {
    background:url(http://officialconsumerreport.com/images/down-arrow-red.png) no-repeat top center;
    padding-top:120px;
    width:100%;
}
 .downarrowgrey {
    background:url(http://officialconsumerreport.com/images/down-arrow-grey.png) no-repeat top center;
    padding-top:120px;
    width:100%;
}
 .rightarrowred {
    width:80px;
    height:220px;
    background:url(http://officialconsumerreport.com/images/right-arrow-red.png) no-repeat center left;
}
 .rightarroworange {
    width:80px;
    height:220px;
    background:url(http://officialconsumerreport.com/images/right-arrow-orange.png) no-repeat center left;
}
 .rightarrowblue {
    width:80px;
    height:220px;
    background:url(http://officialconsumerreport.com/images/right-arrow-blue.png) no-repeat center left;
}
 .rightarrowgreen {
    width:80px;
    height:220px;
    background:url(http://officialconsumerreport.com/images/right-arrow-green.png) no-repeat center left;
}
 .rightarrowgrey {
    width:80px;
    height:220px;
    background:url(http://officialconsumerreport.com/images/right-arrow-grey.png) no-repeat center left;
}
 .boxtop {
    background:url(http://officialconsumerreport.com/images/box-top.png) repeat-x top left;
}
 .boxtopdark {
    background:url(http://officialconsumerreport.com/images/box-top-dark.png) repeat-x top left;
}
 .curvearrow {
    background:url(http://officialconsumerreport.com/images/arrow-curved.png) no-repeat top left;
}
 .arrowredleft {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-left-red.png) no-repeat top left;
    text-align:center;
}
 .arrowredright {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-right-red.png) no-repeat top right;
    text-align:center;
}
 .arroworangeleft {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-left-orange.png) no-repeat top left;
    text-align:center;
}
 .arroworangeright {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-right-orange.png) no-repeat top right;
    text-align:center;
}
 .arrowblueleft {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-left-blue.png) no-repeat top left;
    text-align:center;
}
 .arrowblueright {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-right-blue.png) no-repeat top right;
    text-align:center;
}
 .arrowgreenleft {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-left-green.png) no-repeat top left;
    text-align:center;
}
 .arrowgreenright {
    width:100%;
    background:url(http://officialconsumerreport.com/images/arrow-right-green.png) no-repeat top right;
    text-align:center;
}
 */
.buybutton {
    background-repeat:no-repeat;
    margin:10px auto;
}
 .submitbutton {
    background-repeat:no-repeat;
    margin:5px auto;
}
 .focusField {
    width:200px;
    margin-bottom:12px;
    border:3px solid #000;
    background:#eee;
    font-size:16px;
    color:#fff;
    -webkit-box-shadow:0 0 7px rgba(0,0,0,1);
    -moz-box-shadow:0 0 7px rgba(0,0,0,1);
    padding:2px;
}
 .idleField {
    width:200px;
    margin-bottom:12px;
    border:3px solid #222;
    background:#fff;
    font-size:16px;
    color:#333;
    padding:2px;
}
 .testimonial {
    width:90%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    border:1px solid #BFB46B;
    background-color:#FFF6B8;
}
 .testimonial img {
    padding-top:15px;
}
 .roundbox {
    background-image:url(http://officialconsumerreport.com/images/round-box-fill.gif);
    background-repeat:repeat-y;
    background-position:center;
    width:475px;
    height:auto;
    min-height:300px;
    margin:25px auto;
}
 #mainContent .roundboxcontent p {
    line-height:25px;
    margin-bottom:0;
}
 .roundboxcontent {
    padding-right:25px;
    padding-left:25px;
    font-size:18px;
    font-weight:700;
    text-align:center;
    font-family:Georgia, "Times New Roman", Times, serif;
}
 .roundboxcontent .input {
    width:300px;
    font-size:17px;
    font-weight:700;
    color:#C00;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    border:1px solid #333;
    background-color:#FFF9DF;
    padding:2px;
}
 .roundboxcontent .label {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    text-align:center;
}
 #mainContent .button,#content .button {
    background-color:#C00;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:700;
    color:#FFF;
    background-image:url(http://officialconsumerreport.com/images/form-btn-bg.png);
    background-repeat:no-repeat;
    background-position:center;
    border:2px solid #000;
    margin-top:10px;
    cursor:pointer;
    padding:4px;
}
 .flexbutton {
    font:normal 36px/36px Verdana, Helvetica, Arial;
    text-shadow:0 0 5px #000;
    background-color:#C00;
    color:#FFF;
    width:auto;
    overflow:visible;
    background-image:url(http://officialconsumerreport.com/images/button-highlight.png);
    background-repeat:no-repeat;
    background-position:center;
    border:2px solid #C00;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-box-shadow:0 0 7px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 7px rgba(0,0,0,0.8);
    text-align:center;
    cursor:pointer;
    padding:4px 18px 8px;
}
 .roundboxcontent form {
    margin-bottom:0;
}
 .roundboxbtm {
    background-image:url(http://officialconsumerreport.com/images/round-box-btm.gif);
    background-repeat:no-repeat;
    background-position:center bottom;
    height:22px;
    margin:0;
    padding:0;
}
 .roundboxtop {
    background-image:url(http://officialconsumerreport.com/images/round-box-top.gif);
    background-repeat:no-repeat;
    background-position:center top;
    height:22px;
}
 #squeeze h1,#squeeze h2,#squeeze h3,#squeeze h4 {
    font-family:Georgia, helvetica, sans serif;
}
 #mainContent .postwrap a,#mainContent .postwrap a:link,#mainContent .postwrap a:visited,#mainContent .postwrap a:active {
    color:#C00;
    text-decoration:underline;
}
 #squeeze h1 {
    font-size:36px;
    line-height:41px;
    margin-top:0;
    padding-top:0;
}
 #squeeze h2 {
    font-size:24px;
    line-height:29px;
}
 #squeeze h3 {
    font-size:20px;
    line-height:24px;
}
 #squeeze h4 {
    font-size:17px;
    line-height:20px;
    font-weight:400;
}
 .yellow {
    background-color:#FF0;
    font-weight:700;
}
 .red {
    color:#C00;
}
 .blue {
    color:#00F;
}
 .green {
    color:#007d0f;
}
 .center {
    text-align:center;
}
 .lineout {
    text-decoration:line-through;
}
 .paper1btm {
    background-image:url(http://officialconsumerreport.com/images/paper1-btm.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    height:40px;
    margin:0;
    padding:0;
}
 .paper1top {
    background-image:url(http://officialconsumerreport.com/images/paper1-top.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    height:73px;
}
 .paper1 {
    background-image:url(http://officialconsumerreport.com/images/paper1-fill.jpg);
    background-repeat:repeat-y;
    background-position:center;
    width:475px;
    height:auto;
    min-height:300px;
    margin:25px auto;
}
 .paper1content {
    font-size:18px;
    font-weight:700;
    text-align:left;
    font-family:"Courier New", Courier, monospace;
    padding-right:35px;
    padding-left:35px;
}
 .stickynote {
    background:url(http://officialconsumerreport.com/images/stickynote.jpg) no-repeat left top;
    height:261px;
    width:260px;
    font:18px/22px "Courier New", Courier, monospace;
    text-align:center;
    float:left;
    padding:38px 40px 35px 60px;
}
 .paper2btm {
    background-image:url(http://officialconsumerreport.com/images/paper2-btm.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    height:60px;
    margin:0;
    padding:0;
}
 .paper2top {
    background-image:url(http://officialconsumerreport.com/images/paper2-top.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    height:44px;
}
 #mainContent .paper2,#content .paper2 {
    background-image:url(http://officialconsumerreport.com/images/paper2-fill.jpg);
    background-repeat:repeat-y;
    background-position:center;
    width:475px;
    height:auto;
    min-height:300px;
    margin:25px auto;
}
 .paper2content {
    font-size:17px;
    font-weight:700;
    text-align:left;
    font-family:Georgia, "Times New Roman", Times, serif;
    padding-right:45px;
    padding-left:45px;
}
 .paper3btm {
    background-image:url(http://officialconsumerreport.com/images/paper3-btm.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    height:106px;
    margin:0;
    padding:0 45px 25px;
}
 .paper3top {
    background-image:url(http://officialconsumerreport.com/images/paper3-top.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    height:106px;
    padding-right:45px;
    padding-left:45px;
    padding-top:25px;
}
 #mainContent .paper3,#content .paper3 {
    background-image:url(http://officialconsumerreport.com/images/paper3-fill.jpg);
    background-repeat:repeat-y;
    background-position:center;
    width:475px;
    height:auto;
    min-height:300px;
    margin:25px auto;
}
 .paper3content {
    text-align:left;
    padding-right:45px;
    padding-left:45px;
}
 .wp-pagenavi,#wp-pagenavi {
    color:#FFF;
    margin:0 auto;
}
 .wp-pagenavi a:hover,#wp-pagenavi a:hover {
    border:1px solid #000;
    color:#FFF;
    background:url(http://officialconsumerreport.com/images/pagenavi-bg.png) left bottom no-repeat;
    background-color:#7A6758;
}
 .wp-pagenavi a:active,#wp-pagenavi a:active {
    text-decoration:none;
    border:1px solid #000;
    color:#FFF;
    background:url(http://officialconsumerreport.com/images/pagenavi-bg.png) left bottom no-repeat;
    background-color:#900000;
    margin:2px;
    padding:3px 5px;
}
 .wp-pagenavi span.pages,#wp-pagenavi span.pages {
    color:#333;
    border:none;
    margin:2px;
    padding:3px 5px;
}
 .wp-pagenavi span.current,#wp-pagenavi span.current {
    font-weight:700;
    border:1px solid #000;
    color:#FFF;
    background:url(http://officialconsumerreport.com/images/pagenavi-bg.png) left bottom no-repeat;
    background-color:#900000;
    margin:2px;
    padding:3px 5px;
}
 .wp-pagenavi span.extend,#wp-pagenavi span.extend {
    border:1px solid #000;
    color:#FFF;
    background:url(http://officialconsumerreport.com/images/pagenavi-bg.png) left bottom no-repeat;
    background-color:#A79789;
    margin:2px;
    padding:3px 5px;
}
 #navwrap,#navwrap #nav {
    border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
}
 #slider {
    position:relative;
    background-color:#CCC;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    margin:15px 0 0;
    padding:10px 0 0;
}
 #slider .nav li {
    background-image:none;
    padding-left:0;
}
 #slider .nav li a {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    margin-right:3px;
}
 .scroll {
    overflow:hidden;
    position:relative;
    background:#fff;
}
 .scrollContainer div.panel {
    overflow:hidden;
    padding:20px;
}
 .scrollButtons {
    position:absolute;
    cursor:pointer;
}
 .scrollButtons.left {
    left:0;
    border:0;
}
 .scrollButtons.right {
    right:0;
    border:0;
}
 #slider ul.nav {
    list-style:none;
    font:bold 18px/16px Arial, Arial, Helvetica, sans-serif;
    margin:0 0 0 10px;
    padding:0 0 9px;
}
 #slider ul.nav li {
    display:inline;
    margin-right:0;
}
 #slider ul.nav a {
    color:#CCC;
    text-decoration:none;
    background-color:#666;
    font-style:normal;
    padding:10px;
}
 #slider ul.nav a:focus {
    outline:none;
}
 #slider .hide {
    display:none;
}
 #content div.flexsig p {
    color:#333;
    font-family:Arial, Arial, Helvetica;
    font-size:12px;
    margin:0;
    padding:0;
}
 .divider_pad {
    clear:both;
    display:block;
    padding:8px 0;
}
 .one_third {
    float:left;
    width:31%;
    margin-right:2%;
}
 .one_third_last {
    float:left;
    width:33%;
}
 .two_thirds {
    float:left;
    width:64%;
    margin-right:2%;
}
 .two_thirds_last {
    float:left;
    width:66%;
}
 .one_half {
    float:left;
    width:48%;
    margin-right:2%;
}
 .one_half_last {
    float:left;
    width:50%;
}
 .one_fourth {
    float:left;
    width:23%;
    margin-right:2%;
}
 .one_fourth_last {
    float:left;
    width:25%;
}
 .three_fourths {
    float:left;
    width:73%;
    margin-right:2%;
}
 .three_fourths_last {
    float:left;
    width:75%;
}
 .dropcap {
    display:block;
    padding-right:5px;
    padding-bottom:5px;
    float:left;
}
 .attachment-thumbnail {
    border:3px solid #CCC;
    float:left;
    margin:15px 15px 10px 0;
}
 .widget_tag_cloud div {
    padding:0 8px 8px;
}
 .testblacktop {
    width:510px;
    height:43px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_black_top.jpg) no-repeat center;
}
 .testblackfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_black_fill.jpg) repeat-y top center;
}
 .testblackbtm {
    width:510px;
    height:40px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_black_bottom.jpg) no-repeat center;
}
 .testredtop {
    width:510px;
    height:43px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_red_top.jpg) no-repeat center;
}
 .testredfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_red_fill.jpg) repeat-y top center;
}
 .testredbtm {
    width:510px;
    height:40px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_red_bottom.jpg) no-repeat center;
}
 .testbluetop {
    width:510px;
    height:43px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_blue_top.jpg) no-repeat center;
}
 .testbluefill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_blue_fill.jpg) repeat-y top center;
}
 .testbluebtm {
    width:510px;
    height:40px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_blue_bottom.jpg) no-repeat center;
}
 .testorangetop {
    width:510px;
    height:43px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_orange_top.jpg) no-repeat center;
}
 .testorangefill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_orange_fill.jpg) repeat-y top center;
}
 .testorangebtm {
    width:510px;
    height:40px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_orange_bottom.jpg) no-repeat center;
}
 .testgoldtop {
    width:510px;
    height:43px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_gold_top.jpg) no-repeat center;
}
 .testgoldfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_gold_fill.jpg) repeat-y top center;
}
 .testgoldbtm {
    width:510px;
    height:40px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_gold_bottom.jpg) no-repeat center;
}
 .testgreentop {
    width:510px;
    height:43px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_green_top.jpg) no-repeat center;
}
 .testgreenfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_green_fill.jpg) repeat-y top center;
}
 .testgreenbtm {
    width:510px;
    height:40px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial_green_bottom.jpg) no-repeat center;
}
 .testsimple {
    width:400px;
    text-align:left;
    margin:0 auto;
}
 .testsimpletop {
    width:400px;
    height:47px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial-simple-top.png) no-repeat center;
}
 .testsimplebtm {
    width:400px;
    height:47px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial-simple-btm.png) no-repeat center;
}
 .testsimpletopred {
    width:400px;
    height:47px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial-simple-top-red.png) no-repeat center;
}
 .testsimplebtmred {
    width:400px;
    height:47px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial-simple-btm-red.png) no-repeat center;
}
 .testsimpletopblue {
    width:400px;
    height:47px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial-simple-top-blue.png) no-repeat center;
}
 .testsimplebtmblue {
    width:400px;
    height:47px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/testimonial-simple-btm-blue.png) no-repeat center;
}
 .testphoto img {
    float:left;
    margin:0 20px 10px 0;
}
 .testphotoright img {
    float:right;
    margin:0 0 10px 20px;
}
 .guaranteeblacktop {
    width:508px;
    height:193px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_black_top.jpg) no-repeat center;
}
 .guaranteeblackfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_black_fill.jpg) repeat-y top center;
}
 .guaranteeblackbtm {
    width:580px;
    height:122px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_black_bottom.jpg) no-repeat center;
}
 .guaranteeredtop {
    width:508px;
    height:193px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_red_top.jpg) no-repeat center;
}
 .guaranteeredfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_red_fill.jpg) repeat-y top center;
}
 .guaranteeredbtm {
    width:580px;
    height:122px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_red_bottom.jpg) no-repeat center;
}
 .guaranteebluetop {
    width:508px;
    height:193px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_blue_top.jpg) no-repeat center;
}
 .guaranteebluefill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_blue_fill.jpg) repeat-y top center;
}
 .guaranteebluebtm {
    width:580px;
    height:122px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_blue_bottom.jpg) no-repeat center;
}
 .guaranteeorangetop {
    width:508px;
    height:193px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_orange_top.jpg) no-repeat center;
}
 .guaranteeorangefill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_orange_fill.jpg) repeat-y top center;
}
 .guaranteeorangebtm {
    width:580px;
    height:122px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_orange_bottom.jpg) no-repeat center;
}
 .guaranteegoldtop {
    width:508px;
    height:193px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_gold_top.jpg) no-repeat center;
}
 .guaranteegoldfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_gold_fill.jpg) repeat-y top center;
}
 .guaranteegoldbtm {
    width:580px;
    height:122px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_gold_bottom.jpg) no-repeat center;
}
 .guaranteegreentop {
    width:508px;
    height:193px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_green_top.jpg) no-repeat center;
}
 .guaranteegreenfill {
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_green_fill.jpg) repeat-y top center;
}
 .guaranteegreenbtm {
    width:580px;
    height:122px;
    background:transparent url(http://officialconsumerreport.com/images/page-elements/certificate_green_bottom.jpg) no-repeat center;
}
 .redbox {
    background-color:#FFE6E6;
    border:1px solid #FBB;
    margin-bottom:10px;
    padding:10px 20px;
}
 .bluebox {
    background-color:#E6F2FF;
    border:1px solid #B3D9FF;
    margin-bottom:10px;
    padding:10px 20px;
}
 .yellowbox {
    background-color:#FFC;
    border:1px solid #FC3;
    margin-bottom:10px;
    padding:10px 20px;
}
 .greenbox {
    background-color:#F1FFC6;
    border:1px solid #81C600;
    margin-bottom:10px;
    padding:10px 20px;
}
 .purplebox {
    background-color:#F0E1FF;
    border:1px solid #63F;
    margin-bottom:10px;
    padding:10px 20px;
}
 .whitebox {
    padding: 10px 20px;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	border-width: 1px; 
	border-style: dotted; 
	width: 380px;
}
.skincontent1 {
	float: right;
	width: 528px;
	margin-top:5px;
}
.solutionheader {
	margin-top:-10px;	
}
.marleft {
	padding-left: 40px;
}
 .belcherwt {
    background-color:#FFF;
    border:6px dashed #C00;
    margin-bottom:10px;
    padding:10px 20px;
}
 .belcheryellow {
    background-color:#FFC;
    border:6px dashed #C00;
    margin-bottom:10px;
    padding:10px 20px;
}
 .belcherwtsol {
    background-color:#FFF;
    border:6px solid #C00;
    margin-bottom:10px;
    padding:10px 20px;
}
 .belcheryellowsol {
    background-color:#FFC;
    border:6px solid #C00;
    margin-bottom:10px;
    padding:10px 20px;
}
 .ltgreybox {
    background-color:#ccc;
    border:3px solid #888;
    margin-bottom:10px;
    padding:10px 20px;
}
 .medgreybox {
    background-color:#666;
    border:3px solid #444;
    margin-bottom:10px;
    color:#fff;
    padding:10px 20px;
}
 .darkgreybox {
    background-color:#333;
    border:3px solid #000;
    color:#fff;
    margin-bottom:10px;
    padding:10px 20px;
}
 .light20 {
    background-image:url(http://officialconsumerreport.com/images/fades/White-Top-40.png);
    background-position:top center;
    background-repeat:repeat-x;
}
 .light40 {
    background-image:url(http://officialconsumerreport.com/images/fades/White-Top-60.png);
    background-position:top center;
    background-repeat:repeat-x;
}
 .light60 {
    background-image:url(http://officialconsumerreport.com/images/fades/White-Top-80.png);
    background-position:top center;
    background-repeat:repeat-x;
}
 .dark20 {
    background-image:url(http://officialconsumerreport.com/images/fades/Black-Bottom-20.png);
    background-position:bottom center;
    background-repeat:repeat-x;
}
 .dark40 {
    background-image:url(http://officialconsumerreport.com/images/fades/Black-Bottom-40.png);
    background-position:bottom center;
    background-repeat:repeat-x;
}
 .dark60 {
    background-image:url(http://officialconsumerreport.com/images/fades/Black-Bottom-60.png);
    background-position:bottom center;
    background-repeat:repeat-x;
}
 .roundfive {
    border-radius:5px;
    -moz-border-radius:5px;
    webkit-border-radius:5px;
}
 .roundten {
    border-radius:10px;
    -moz-border-radius:10px;
    webkit-border-radius:10px;
}
 .roundfifteen {
    border-radius:15px;
    -moz-border-radius:15px;
    webkit-border-radius:15px;
}
 .shadowfive {
    box-shadow:0 0 5px #000;
    -moz-box-shadow:0 0 5px #000;
    -webkit-box-shadow:0 0 5px #000;
}
 .shadowten {
    box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
 .shadowfifteen {
    box-shadow:0 0 15px #000;
    -moz-box-shadow:0 0 15px #000;
    -webkit-box-shadow:0 0 15px #000;
}
 table.pricingtable {
    border-collapse:separate;
    background-color:#859FC0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-top:15px;
    margin-bottom:15px;
}
 .pricingtable .pricetitle {
    font-size:21px;
    font-weight:700;
    margin-top:10px;
    margin-bottom:2px;
    color:#496F9F;
    text-align:center;
}
 .pricingtable .itemprice {
    font-weight:700;
    color:#666;
    font-size:14px;
    margin-bottom:10px;
    text-align:center;
}
 .pricingtable td.light {
    border:5px solid #C4D1E1;
    background-color:#F9FBFC;
    -moz-border-radius:4px;
    border-radius:4px;
}
 .pricingtable td.ultimate {
    border:5px solid #F90;
    background-color:#FFF;
    -moz-border-radius:4px;
    border-radius:4px;
}
 .pricingtable td.dark {
    border:5px solid #C4D1E1;
    background-color:#EDF1F6;
    -moz-border-radius:4px;
    border-radius:4px;
}
 .pricingtable ul {
    margin:8px 0 20px;
    padding:0 12px;
}
 .pricingtable li {
    list-style:none;
    background-image:url(http://officialconsumerreport.com/images/iGrayCheckMark.gif);
    background-repeat:no-repeat;
    background-position:left top;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#D8E0EB;
    margin-top:5px;
    padding:0 0 5px 20px;
}
 .pricingtable a.signupbtn {
    background-color:#859FC0;
    width:75%;
    text-align:center;
    font-family:Verdana, Geneva, sans-serif;
    font-size:13px;
    font-weight:700;
    color:#FFF;
    padding-top:8px;
    padding-bottom:8px;
    display:block;
    text-decoration:none;
    -moz-border-radius:15px;
    border-radius:15px;
    margin:0 auto 20px;
}
 table.gridtable {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top:15px;
    margin-bottom:15px;
    border:1px solid #859FC0;
}
 .gridtable th {
    font-weight:700;
    text-align:left;
    padding:6px;
}
 .gridtable td {
    text-align:center;
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#C4D1E1;
    padding:5px;
}
 .gridtable .header {
    font-size:18px;
    font-weight:700;
    color:#FFF;
    text-align:center;
    background-color:#859FC0;
    line-height:40px;
}
 .gridtable .light {
    background-color:#F9FBFC;
    -moz-border-radius:4px;
    border-radius:4px;
}
 .gridtable .dark {
    background-color:#EDF1F6;
    -moz-border-radius:4px;
    border-radius:4px;
}
 .gridtable a.signupbtn {
    background-color:#859FC0;
    width:85%;
    text-align:center;
    font-family:Verdana, Geneva, sans-serif;
    font-size:13px;
    font-weight:700;
    color:#FFF;
    display:block;
    text-decoration:none;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:10px auto;
    padding:5px;
}
 .breadcrumbs {
    clear:both;
    background-color:#333;
    color:#999;
    font-size:12px;
    font-weight:400;
    padding:10px 0 10px 15px;
}
 .breadcrumbs a {
    color:#FFF;
    text-decoration:none;
}
 .toppostwidget,.bottompostwidget {
    clear:both;
    padding-right:1px;
    padding-left:1px;
}
 .toppostwidget h5,.bottompostwidget h5 {
    font:bold 22px/26px Arial, Helvetica, Tahoma;
    color:#333;
    margin:10px 0 5px;
    padding:0;
}
 .adsenseposttop {
    float:left;
    margin:10px 15px 15px 0;
}
 .adsenseleaderboard {
    width:730px;
    height:90px;
    display:block;
    text-align:center;
    margin:5px auto 15px;
}
 .postwrap a,#sidebar-top a:hover,#sidebar-bottom a:hover,#left-sidebar-top a:hover,#sidebar-left a:hover,#sidebar-right a:hover,#content ol.commentlist a,#content ol.commentlist a:link,#content ol.commentlist a:visited,ol.pinglist li a,ol.pinglist li a:link,ol.pinglist li a:visited ol.pinglist li,.breadcrumbs a:hover {
    color:#A10000;
}
 #logo,* html #header #searchbox {
    margin-top:0;
}
 ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul,ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {
    top:-999em;
}
 ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul,ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul,#secondary-nav ul.sf-menu li li:hover ul,#secondary-nav ul.sf-menu li li.sfHover ul,#secondary-nav ul.sf-menu li li li:hover ul,#secondary-nav ul.sf-menu li li li.sfHover ul {
    left:150px;
    top:-1px;
}
 ul.sf-menu li ul,#secondary-nav ul.sf-menu li ul {
    background-color:#000;
    width:152px;
}
 ul.sf-menu ul li,#secondary-nav ul.sf-menu ul li {
    width:150px;
    margin-left:1px;
}
 #navwrap #nav ul.sf-menu li.sfHover li.sfHover li,#navwrap #nav ul.sf-menu li.sfHover li.sfHover li,form,.offercoupon form,table.pricingtable p {
    margin:0;
    padding:0;
}
 .sf-menu li li a:hover span,.sf-menu li li a span,.sf-menu li.current_page_item li a span,.sf-menu li.current-menu-item li a span,.sf-menu li li.current_page_item a:hover span,.sf-menu li.current_page_item li a:hover span,.sf-menu li li.current-menu-item a:hover span,.sf-menu li.current-menu-item li a:hover span {
    background-color:transparent;
}
 .sf-menu li li li:first-child,#secondary-nav .sf-menu li li li:first-child {
    border-top:1px solid #000;
}
 .sf-menu li li li,#secondary-nav .sf-menu li li li {
    background:#1F242C;
}
 .sf-menu a:focus span,.sf-menu a:hover span,.sf-menu a:active span,.sf-menu li.sfHover a span,.sf-menu li.current_page_item a span,.sf-menu li.current-menu-item a span {
    background-position:right -33px;
    color:#FFF;
    background-color:#FF9600;
}
 .sf-menu li.current_page_item a:hover span,.sf-menu li.current-menu-item a:hover span,.sf-menu li.sfHover a,.sf-menu li.sfHover a span {
    background-color:#FF9600;
}
 .sf-menu li li a span,.sf-menu li li a:visited span,.sf-menu li.current_page_item li a span,.sf-menu li.current-menu-item li a span,.sf-menu li:hover li a span,.sf-menu li.sfHover li a span,.sf-menu li li.current_page_item a:hover,.sf-menu li li.current-menu-item a:hover,#secondary-nav .sf-menu li li.current_page_item a:hover,#secondary-nav .sf-menu li li.current-menu-item a:hover,#secondary-nav .sf-menu li:hover,#secondary-nav .sf-menu li.sfHover,#feature a,#feature a:visited,#feature a:active {
    color:#CCC;
}
 .sf-menu li:hover a span,.sf-menu li.sfHover a span,.sf-menu li.sfHover li a:hover,#secondary-nav .sf-menu a,#secondary-nav .sf-menu a:visited,#secondary-nav .sf-menu li.sfHover li a:hover,#header .headerwidget a:hover,p.headtitle a,#feature a:hover {
    color:#FFF;
}
 .sf-menu li.sfHover li a,.sf-menu li.sfHover li a span,.sf-menu li li.current_page_item .children a,.sf-menu li li.current_page_item .children a span,.sf-menu li li.current-menu-item .children a,.sf-menu li li.current-menu-item .children a span,.sf-menu li li.current_page_item .sub-menu a,.sf-menu li li.current_page_item .sub-menu a span,.sf-menu li li.current-menu-item .sub-menu a,.sf-menu li li.current-menu-item .sub-menu a span,#secondary-nav .sf-menu li li.current_page_item a,#secondary-nav .sf-menu li.current_page_item li a,#secondary-nav .sf-menu li li.current-menu-item a,#secondary-nav .sf-menu li.current-menu-item li a,#secondary-nav .sf-menu li li.current_page_item .children a,#secondary-nav .sf-menu li li.current_page_item .children a span,#secondary-nav .sf-menu li li.current-menu-item .children a,#secondary-nav .sf-menu li li.current-menu-item .children a span,#secondary-nav .sf-menu li li.current_page_item .sub-menu a,#secondary-nav .sf-menu li li.current_page_item .sub-menu a span,#secondary-nav .sf-menu li li.current-menu-item .sub-menu a,#secondary-nav .sf-menu li li.current-menu-item .sub-menu a span {
    background-color:#1F242C;
}
 .sf-menu li li.current_page_item,.sf-menu li li.current-menu-item,.sf-menu li li.current_page_item a,.sf-menu li li.current-menu-item a,.sf-menu li li.current_page_item a span,.sf-menu li li.current-menu-item a span,#secondary-nav .sf-menu li li.current_page_item,#secondary-nav .sf-menu li li.current-menu-item,#secondary-nav .sf-menu li li.current_page_item a,#secondary-nav .sf-menu li li.current-menu-item a,#secondary-nav .sf-menu li li.current_page_item a span,#secondary-nav .sf-menu li li.current-menu-item a span {
    background-color:#62768C;
}
 .sf-menu li li.current_page_item .children a:hover,.sf-menu li li.current_page_item .children a:hover span,.sf-menu li li.current-menu-item .children a:hover,.sf-menu li li.current-menu-item .children a:hover span,.sf-menu li li.current_page_item .sub-menu a:hover,.sf-menu li li.current_page_item .sub-menu a:hover span,.sf-menu li li.current-menu-item .sub-menu a:hover,.sf-menu li li.current-menu-item .sub-menu a:hover span,#secondary-nav .sf-menu li li.current_page_item a:hover,#secondary-nav .sf-menu li.current_page_item li a:hover,#secondary-nav .sf-menu li li.current-menu-item a:hover,#secondary-nav .sf-menu li.current-menu-item li a:hover,#secondary-nav .sf-menu li li.current_page_item .children a:hover,#secondary-nav .sf-menu li li.current_page_item .children a:hover span,#secondary-nav .sf-menu li li.current-menu-item .children a:hover,#secondary-nav .sf-menu li li.current-menu-item .children a:hover span,#secondary-nav .sf-menu li li.current_page_item .sub-menu a:hover,#secondary-nav .sf-menu li li.current_page_item .sub-menu a:hover span,#secondary-nav .sf-menu li li.current-menu-item .sub-menu a:hover,#secondary-nav .sf-menu li li.current-menu-item .sub-menu a:hover span {
    background-color:#3D4A57;
}
 .sf-menu li ul li a,.sf-menu li ul li a span,#sidebar-top input#searchbutton2:hover,#sidebar-bottom input#searchbutton2:hover,#sidebar-left input#searchbutton2:hover {
    background-image:none;
}
 .sf-menu ul a.sf-with-ul span.sf-sub-indicator,#secondary-nav .sf-menu ul a.sf-with-ul span.sf-sub-indicator {
    right:.5em;
    top:10px;
    background-position:-10px 0;
}
 .sf-menu ul a.sf-with-ul > span.sf-sub-indicator,#secondary-nav .sf-menu ul a.sf-with-ul > span.sf-sub-indicator {
    background-position:0 0;
}
 .sf-menu ul a:focus > .sf-sub-indicator,.sf-menu ul a:hover > .sf-sub-indicator,.sf-menu ul a:active > .sf-sub-indicator,.sf-menu ul li:hover > a > .sf-sub-indicator,.sf-menu ul li.sfHover > a > .sf-sub-indicator,#secondary-nav .sf-menu ul a:focus > .sf-sub-indicator,#secondary-nav .sf-menu ul a:hover > .sf-sub-indicator,#secondary-nav .sf-menu ul a:active > .sf-sub-indicator,#secondary-nav .sf-menu ul li:hover > a > .sf-sub-indicator,#secondary-nav .sf-menu ul li.sfHover > a > .sf-sub-indicator {
    background-position:-10px 0;
}
 #secondary-nav .sf-menu a:hover,#secondary-nav .sf-menu li.sfHover a {
    background-color:#A10000;
}
 #secondary-nav a > span.sf-sub-indicator,#secondary-nav li.sfHover a > .sf-sub-indicator,#secondary-nav li.current_page_item a > .sf-sub-indicator,#secondary-nav ul ul a > span.sf-sub-indicator {
    top:11px;
}
:first-child+html #header #searchform,#sidebar-top ul ul,#sidebar-bottom ul ul,#left-sidebar-top ul ul,.widget_tag_cloud div.toptitle {
    padding:0;
}
 #sidebar-left input#searchbox2,#sidebar-right input#searchbox2 {
    width:180px;
    padding:2px;
}
 #sidebar-left input#searchbutton2,#sidebar-right input#searchbutton2 {
    width:75px;
    color:#333;
    background:#6DA0CB url(http://officialconsumerreport.com/images/form-btn-bg.png) no-repeat center;
    border:1px solid #B8B8B8;
    cursor:pointer;
    padding:2px 0;
}
 p.headtitle a:hover,#rssfeeds a:hover {
    color:#999;
}
 #feature ul,#footer ul {
    list-style-type:none;
    padding:0;
}
 #feature ul.children,#footer ul.children {
    border:none;
    margin:3px 0 0;
    padding:0 0 3px;
}
 #feature ul.children li,#sidebar-top ul.children li,#sidebar-bottom ul.children li,#left-sidebar-top ul.children li,#footer ul.children li {
    padding-bottom:0;
}
 #feature ul li,#footer ul li {
    list-style-type:none;
    background:url(http://officialconsumerreport.com/images/liarrow.png) no-repeat left top;
    padding-left:10px;
    padding-bottom:3px;
}
 #feature ul li a,#content .postcontent a,p.meta a,#sidebar-top ul li a,#sidebar-bottom ul li a,#left-sidebar-top ul li a,#footer ul li a,#content ol.commentlist a,.tagcloud a {
    text-decoration:none;
}
 .feat_box,.foot_box {
    width:950px;
    float:left;
    margin:0;
    padding:15px;
}
 #content .posthead h1,#content .posthead h1 a,#content .posthead h2,#content .posthead h2 a,#mainContent .postwrap a:hover {
    color:#000;
}
 #content ul.Note li a,#content ul.Note li a:link,#content ul.Note li a:visited,.flexform input {
    color:#333;
}
 .commentlist li.alt .commenttext,.commentinfo,.adsensebottompost {
    clear:both;
}
 #sidebar-top h5 a.rsswidget,#sidebar #sidebar-bottom h5 a.rsswidget,#left-sidebar #sidebar-bottom h5 a.rsswidget,#left-sidebar-top h5 a.rsswidget,#rss a:hover {
    color:#333;
    text-decoration:none;
}
 #squeeze #footer a:hover,#wp-calendar tfoot a:hover {
    text-decoration:underline;
}
 #wp-calendar thead,#wp-calendar tfoot {
    border-right:1px solid #FFF;
    border-left:1px solid #FFF;
}
 ol.commentlist li.comment-author-admin,ol.commentlist li ul.children li.comment-author-admin,ol.commentlist li.bypostauthor {
    background-color:#EBEDF0;
}
 ol.commentlist li ul.children li.depth-2,ol.commentlist li ul.children li.depth-3,ol.commentlist li ul.children li.depth-4,ol.commentlist li ul.children li.depth-5 {
    border:1px solid #EBEDF0;
    margin:0 0 .25em .25em;
}
 ol.commentlist li.parent,#mainContent .post {
    border:none;
}
 .buybutton a,.submitbutton a {
    height:100%;
    width:100%;
    display:block;
    text-indent:-9999px;
    background-repeat:no-repeat;
    background-position:0 0;
}
 .flexbutton:hover,#mainContent .button:hover,#content .button:hover {
    background-color:red;
}
 #mainContent .paper1content p,#content .paper1content p,#mainContent .paper2content p,#content .paper2content p,#mainContent .paper3content p,#content .paper3content p {
    line-height:26px;
}
 .wp-pagenavi a,.wp-pagenavi a:link,#wp-pagenavi a,#wp-pagenavi a:link,.wp-pagenavi a:visited,#wp-pagenavi a:visited {
    text-decoration:none;
    border:1px solid #000;
    color:#FFF;
    background:url(http://officialconsumerreport.com/images/pagenavi-bg.png) left bottom no-repeat;
    background-color:#A79789;
    margin:2px;
    padding:3px 5px;
}
 #slider ul.nav a:hover,#slider ul.nav a.selected {
    background-color:#000;
    color:#FFF;
}
 .testphoto,.testphotoright {
    width:500px;
    text-align:left;
    border-top:2px solid #ddd;
    border-bottom:2px solid #ddd;
    margin:0 auto;
    padding:10px 0;
}
 .testphoto p,.testphotoright p {
    margin:10px 0 0;
    padding:0;
}
 .pricingtable a.signupbtn:hover,.gridtable a.signupbtn:hover {
    background-color:#3E5879;
}

.firstletter {
	font-size:24px;
	font-weight:bold;
}

