@charset "utf-8";
/* Universal Styles */

* {
	margin: 0px;
	padding: 0px;
}
a, img {
	border:none;

}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clr {
	clear: both
}
a {
	text-decoration: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: #333;
}
h4 {
	color: #666;
}
hr {
	color: #fff;
	background-color: #fff;
	height: 0.5px;
	margin-top: 3px;
	margin-bottom: 3px;
	
}
.border {
	border-bottom: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	height: 20px;
	padding: 8px 0;
	margin-bottom:15px;
}
.center {
	text-align: center;
}
.rightPad {
	padding-right: 40px!important;
}



/*header*/

#header {
	width: 100%;
	height: 100px;
	background-color: #F39;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}
.headerInside {
	height: 100px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
.search img {
	bottom: 0px;
}
.headerInside a {
	color: #FFF;
	font-size: 90%;
	font-weight: 600;
}
.headerInside a:hover {
	text-decoration: underline;
}
.search {
	margin-top:55px;
	padding-top: 5px;
	width: 250px;
	height: 25px;
	text-align: right;
}


#banner-search #navigationSearchInput{
margin: 4px 6px;
padding: 1px;
width: 131px;
height: 18px;
border: 1px solid #CCC;
font: 12px/15px arial,sans-serif;
color: #666;
background: #FFF;
}

#navigationSearchSubmit {
	top: -22px;
	left: 222px;
	position:relative;
display:block;
	width: 19px;
	height: 16px;
	border: none;
	font-size: 0;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/layout/icon-search.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#logoImg {
	background: url(../images/layout/logo.png) no-repeat bottom;
	height: 85px;
	width: 420px;
	margin-top: 10px;
	text-indent: -99999px;
	display: block;
}
.subscribe {
	width: 80px;
	height: 100px;
	line-height: 160px;
	color: #FFF;
	font-weight: 700;
	font-size: 110%;
}
.logIn {
	width: 130px;
	height: 100px;
	line-height: 160px;
	color: #FFF;
	font-weight: 700;
	font-size: 110%;
}
.healthMag {
	width: 100px;
	height: 100px;
	position: relative;
	border:none;
}
.healthMag img {
	position: absolute;
	bottom: 0px;
	border:none;
}
/*main*/
#main {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	
}
#main p {
	line-height: 150%;
}
#banner {
	width: 100%;
	height: 120px;
	text-align: center;
	padding-top: 30px;
}
.gradient {

	background-image: url(../images/layout/gradient.png);
	background-repeat: repeat-x;
}
/*Left Column*/

.leftColumn {
	width: 1000px;
/*	margin-right: 20px;
*/	padding-left: 20px;
/*	padding-right: 30px;*/
	padding-top: 15px;
	padding-bottom: 30px;
	margin-bottom:40px;

}
.leftColumn ul {
	padding-top: 5px;
	margin-left: 5px;
	list-style-position: outside;
}
.imgLeft {
	display: inline;
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.imgRight {
	display: inline;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.textRight {
	text-align: right;
}
.noBullet {
	display: block;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
}
.offer {
	margin-top:40px;
}
.offer img {
	display:block;
	margin:0 auto;
}
#weight {
	text-align:center!important;
}
.highlight2 {
background-color: #FF0;
}
/*Sidebar*/

.sidebar {
	width: 320px;
/*	margin-top:20px;
*/	padding-right:20px;
}

.news {
	margin-top:30px;
}
.shareCare {
	margin-top:30px;
}
.shareCare a {
	color:#3CC;
}
.shareCare img {
	padding-bottom:20px;
}
.news img {
	padding-right:15px;
}
.shareCare p{
	font-size:80%;
	line-height:130%!important;
}

.news p {
	font-size:80%;
	line-height:130%!important;
}
.highlight {
	float:left;
text-transform: uppercase;
color: #FFF;
background-color: #3CC;
padding: 2px 3px 1px 3px;
margin-bottom: 15px;
}
/*Social Media*/

#socialmedia {
	margin-top: 20px;
	margin-bottom: 20px;
}
#socialmedia .inner {
	border-bottom: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	height: 20px;
	padding: 8px 0;
}
/*Nav Styles*/

#nav {
	width: 100%;
	height: 50px;
	background-color: #DDD;
}

#nav ul li {
	display: inline;
	text-align: left;
	height: 20px;
	margin-top: 0;
	margin-right: 19px;
	margin-bottom: -2px;
	margin-left: 0;
	padding-top: 2;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 0;
	font-family: Verdana, Geneva, sans-serif;
}


#nav ul {
	line-height: 50px;
	color: #000;
	text-align: center;
	font-size: 120%;
	font-weight: 500;
}
#nav li a {
	border-left: solid 1px #FFFFFF;
	padding-left: 18px;
	margin-right: -6px;
	padding-bottom: 0;
	text-decoration: none;
	text-align: left;
	color: #000;
}
#nav li a:hover {
	color: #666;
}
#nav li.first a {
	border-left: 0px;
	padding-left: 8px;
}
/*end Nav Styles*/

/*offer box*/

.rounded-corners {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border-top-color: #EC2C91;
	border-right-color: #EC2C91;
	border-bottom-color: #EC2C91;
	border-left-color: #EC2C91;
}

.offerbox {
	
	width: 630px;
	height: 385px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	margin-bottom: 40px;
	border: 1px solid #EE2B93;
	border-radius: 25px;
}
.offerbox h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color:#333;
	line-height: 160%;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0;
	font-weight:700;
}
.offerbox a {
	color:#EE2B93;
}
.offerbox a:hover {
	color:#666;;
}
.productright {
	margin-top: -10px;
	padding-right:10px;
	display: block;
}
.productleft {
	width: 350px;
}
.productleft ul {
	margin-left:30px;
}
.productleft ul li {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin-bottom: 10px;

	list-style-type: disc;
	list-style-image: url(../../images/layout/plus.jpg);
}
.productleft img {
	padding-top: 5px;
	padding-left:5px;
}
.promo {
	padding-left:5px;
}
.promo p {
	line-height:120%!important;
}
/*end offer box*/

/*footer*/
#footer {
	width:100%;
	background-color:#000;
	text-align:center;
}
.copyright {
	padding-top:15px;
	padding-bottom:15px;
	width:1020px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:11px;
	color:#666;
}

/*from old sheet*/


.headline {
	width:100%;
	text-align:center;
	margin-bottom:40px;
}
.exitheader {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 40px;
	margin-top: 0.5em;
	margin-bottom: 30px;
}
.subjectheader {
	font-size:26px;
	margin-top:1em;
	margin-bottom:0.5em;
}
.subheader {
	font-size: 30px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

}
.news-icon img {
	padding-right:25px;
}
.news-icon {
padding-left:150px;
}

.featured {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
.news-page {
color: #F06;
margin: 8px 0 3px 0;
margin-right: 30px;
padding-left: 3px;
font-family: Tahoma, san-serif;
font-size: 16px;
line-height: 22px;
font-weight: 700;
}

.column1 {
	width:370px;
	text-align:center;
	padding-left:50px;
	margin-top:30px;
}

.column2 {
	width: 100px;
	text-align: center;
	margin-top: 130px;
	
}

.column3 {
	width:370px;
	text-align:center;
	padding-right:50px;
		margin-top:30px;

}
.textbox1 {
	text-align:center;
	margin-left:80px;
	width:830px;
	margin-top:30px;
	margin-bottom:30px;
	font-size:150%;
	line-height:130%;
}
.textbox1 p {
	text-align:center;
	
}
.textbox2 {
	text-align:left;
	width:790px;
	margin-left:105px;
	font-size:120%;
	line-height:130%;
}
.textbox2 p {
	text-align:left;
}

.fl {
	float:left;
}
.fr {
	float:right;
}

.news-icon img {
	padding-right:25px;
}
.news-icon {
padding-left:150px;
}

#rush {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font-size: 150%;
	letter-spacing: -1px;
	line-height:40px;
	background-color:#FFC;
	text-align:center;
}
#rush img {
	top: 10px;	
}
.textpad {
	color: #F00;
	text-align:center;

}