
/* --------------------------------------------------------------------- */
/* Fb-comments
/* --------------------------------------------------------------------- */


/*1354420080,173214269*/

/*form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{font-weight:normal}
textarea, .inputtext, .inputpassword{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;margin:0;padding:3px;-webkit-appearance:none;-webkit-border-radius:0}
select{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:2px}
.inputtext, .inputpassword{padding-bottom:4px}
.inputradio{padding:0;margin:0 5px 0 0;vertical-align:middle}
.inputcheckbox{border:0;vertical-align:middle}
.inputbutton, .inputsubmit{border-style:solid;border-width:1px;border-color:#d9dfea #0e1f5b #0e1f5b #d9dfea;background-color:#3b5998;color:#fff;padding:2px 15px 3px 15px;text-align:center}
.inputsubmit_disabled{background-color:#999;border-bottom:1px solid #000;border-right:1px solid #666;color:#fff}
.inputaux{background:#f0f0f0;border-color:#e7e7e7 #666 #666 #e7e7e7;color:#000}
.inputaux_disabled{color:#999}
.inputsearch{background:#fff url(IJYgcESal33.png); no-repeat left 4px;padding-left:17px}
body{background:#fff;font-size:11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#328;line-height:1.28;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed}
h1, h2, h3, h4, h5, h6{font-size:13px;color:#328;margin:0;padding:0}
h1{font-size:14px}
h4, h5{font-size:11px}
p{margin:1em 0}
a{cursor:pointer;color:#3b5998 !important;text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
td, td.label{font-size:11px;text-align:left}
dd{color:#000}
dt{color:#777}
ul{list-style-type:none;margin:0;padding:0}
abbr{border-bottom:none}
hr{background:#d9d9d9;border-width:0;color:#d9d9d9;height:1px}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}
.datawrap{word-wrap:break-word}
.word_break{display:inline-block}
wbr:after{content:"\00200B"}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.img_loading{position:absolute;top:-9999999px}
.aero{opacity:.5}
.column{float:left}
.center{margin-left:auto;margin-right:auto}*/

.fbcommentscontainer {
	margin-top:50px;
}


#facebook .hidden_elem{display:none !important}
#facebook .invisible_elem{visibility:hidden}
#facebook .accessible_elem{left:-9999px;position:absolute}
.direction_ltr{direction:ltr}
.direction_rtl{direction:rtl}
.text_align_ltr{text-align:left}
.text_align_rtl{text-align:right}
.uiCloseButton{cursor:pointer;display:inline-block;margin:0;padding:0;zoom:1}
label.uiCloseButton{overflow:hidden}
.uiCloseButton input{cursor:pointer;opacity:0;outline:none;padding:18px}
.uiCloseButton{background-image:url(4WSewcWboV8.png);background-repeat:no-repeat;height:15px;width:15px}
.uiCloseButtonSmall{background-image:url(ogYrclupeJV.png);height:11px;margin-top:1px;width:11px}
.uiCloseButtonHuge{background-image:url(ubIGOTIgUYc.png)}
.uiCloseButtonDark{background-position:left -16px}
.uiCloseButtonInverted{background-image:url(33RpiRygxAr.png);background-position:left -16px}
.uiCloseButton:hover, .uiCloseButton:focus{background-position:left -32px}
.uiCloseButton:active{background-position:left -48px}
.uiCloseButtonSmallDark{background-position:left -12px}
.uiCloseButtonSmallInverted{background-position:left -12px;background-image:url(Vi-KTnbdMKr.png)}
.uiCloseButtonSmall:hover, .uiCloseButtonSmall:focus{background-position:left -24px}
.uiCloseButtonSmall:active{background-position:left -36px}
.uiPopover .uiCloseButton{-webkit-background-clip:padding-box;border:1px solid transparent;margin:0}
.uiPopover.openToggler .uiCloseButton{background-position:left -32px}
.uiPopover.openToggler .uiCloseButtonSmall{background-position:left -24px}
.uiPopover.openToggler .uiCloseButton, .uiPopover.openToggler .uiCloseButton:active, .uiPopover.openToggler .uiCloseButton:focus, .uiPopover.openToggler .uiCloseButton:hover{background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none}
.uiTypeaheadView .compact li{min-height:32px;padding:2px 10px 2px 45px}
.uiTypeaheadView .compact .splitpics, .uiTypeaheadView .compact img{display:block;height:32px;left:6px;position:absolute;width:32px}
.uiTypeaheadView .compact .text{font-weight:bold}
.uiTypeaheadView .compact .details{color:#999;padding-top:0}
.uiTypeaheadView .compact .detailsContents{position:relative}
.uiTypeaheadView .compact .splitpic{float:left;overflow:hidden;width:15px}
.uiTypeaheadView .compact .splitpics img{left:0;margin-left:-8px;position:static}
.uiTypeaheadView .compact .splitpics .leftpic{margin-right:1px;width:16px}
.uiTypeaheadView .compact .splitpics .toppic{height:15px;margin-bottom:1px}
.uiTypeaheadView .compact .splitpics .bottompic{height:16px}
.uiTypeaheadView .compact .splitpics .toppic img, .uiTypeaheadView .compact .splitpics .bottompic img{margin-top:-8px}
.uiTypeaheadView .compact .friendlist img{background-color:transparent}
.fbGalleryPrev, .fbDisabledGalleryPrev{float:left;margin-top:50px;opacity:.7}
.fbGalleryPrev:hover{opacity:1}
.fbGalleryNext, .fbDisabledGalleryNext{float:right;margin-top:50px;opacity:.7}
.fbGalleryNext:hover{opacity:1}
.fbConnectWidgetTopmost{border:1px solid #aaa;border-top-color:#315c99;overflow:hidden;padding:0;position:relative}
div.fbDarkWidget{background-color:transparent}
.fbDarkWidget .fbWidgetTitle{color:#fff}
.fbDarkWidget a, .fbDarkWidget .profileName{color:#fff}
.fbDarkWidget a.uiLinkSubtle{color:gray}
div.fbConnectWidgetHeaderTitle{border-width:0 0 1px}
div.ConnectActivityLogin{border-width:0 0 1px;zoom:1}
.fbRecommendationWidgetContent .recommendations_metadata{padding-top:3px;color:gray}
.fbDarkWidget .fbRecommendationWidgetContent .recommendations_metadata{color:#ccc}
.fbGalleryImage{max-height:125px;max-width:140px}
.fbShowBothHidden{display:none}
.fbRecommendationsContainer{display:none}
.fbShowBothRecommendationsHighlighted .fbRecommendationsContainer{display:inline}
.fbShowBothRecommendationsHighlighted .fbActivityContainer{display:none}
.fbActivityContainer{display:inline}
.fbGalleryRecommendationsFacepile{position:relative}
.fbGalleryRecommendationsFooter{width:150px}
.fbGalleryRecommendationsImageBlock{display:block;margin-left:auto;margin-right:auto;text-align:center;height:125px}
.fbDarkWidget .fbGalleryRecommendationsImageContainer{background-position:-125px 0}
.fbGalleryRecommendationsNode{height:275px}
.fbGalleryRecommendationsText{padding-top:3px;height:64px}
.fbShowBothActivityHeader{display:none}
.fbShowBothRecommendationsHighlighted .fbShowBothActivityHeader{display:inline}
.fbShowBothRecommendationsHeader{display:inline}
.fbShowBothRecommendationsHighlighted .fbShowBothRecommendationsHeader{display:none}
.fbDarkWidget div.ConnectActivityLogin{border-color:#303030;background-color:#000}
.fbProfilePic{height:35px;width:35px}
.fbDarkWidget .fbImageContainer{background-position:-35px 0}
.fbConnectWidgetHeaderTitle{color:#1c2a47;border:1px solid #c6cedd;padding-bottom:7px;padding-top:8px;cursor:default}
.fbConnectWidgetHeaderTitleBranded{background:#3b5998;color:#fff;cursor:default;padding-bottom:5px;padding-top:7px}
.fbDarkWidget .fbConnectWidgetHeaderTitle{background-color:#328;border:1px solid #444}
.fbLoginButton{float:left}
.ConnectActivityLoginMessage{color:#666;line-height:14px;vertical-align:top;zoom:1}
.fbDarkWidget .ConnectActivityLoginMessage{color:gray}
.fbConnectWidgetFooter{bottom:0;cursor:default;position:absolute;width:100%}
.transparent_widget .fbDarkWidget .fbConnectWidgetFooter{background-color:transparent}
.fbConnectWidgetFooter .fbFooterBorder{border-top:1px solid #ccc;margin:0 6px;padding:4px 3px}
.fbDarkWidget .fbConnectWidgetFooter .fbFooterBorder{border-top:1px solid #444}
.fbConnectWidgetContent, .fbImageContainer img{visibility:hidden}
.fbConnectWidgetContent, .fbGalleryRecommendationsImageContainer img{visibility:hidden}
div.fbHalfPage{overflow:hidden}
div.fbAdminOptions{float:right}
body.transparent_widget,
html.wrapped body.transparent_widget #body{background-color:transparent;overflow:hidden}
body.plugin.transparent_widget,
html.wrapped body.plugin.transparent_widget #body{overflow-y:hidden}
.connect_widget{background-color:transparent}
.connect_widget .connect_widget_facebook_favicon{background:url(ql9vukDCc4R.png) no-repeat -1px -47px transparent;display:block;height:14px;padding:0 0 0 0;width:14px;position:absolute;left:-1px}
body.transparent_widget .generic_dialog_popup,
.connect_widget .generic_dialog_popup{width:400px}
.DOMControl_placeholder{color:#777}
.no_js .DOMControl_placeholder{color:#000}
.fbFeedbackContent{-webkit-text-size-adjust:none}
.fbFeedbackContent.fbDarkWidget{border:none}
.fbFeedbackContent .async_saving ul, .fbFeedbackContent .async_saving .indicator, .fbFeedbackContent .async_saving .action_links{background:url(GsNJNwuI-UM.gif) no-repeat right}
.fbFeedbackContent.fbDarkWidget .composerHider{border-bottom:1px solid #666;border-top:1px solid #666}
.fbFeedbackContent .composerHider{border-bottom:0px solid #ccc;border-top:1px solid #ccc;margin:0;padding:9px 10px 7px}
.fbFeedbackContent .composerHider .uiSelector{margin:-3px 1px}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:active, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:focus, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:hover{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:right -202px;background-color:transparent;border:none;-webkit-box-shadow:none;-webkit-box-shadow:none;margin:0;outline:0;padding:2px 20px 2px 0}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#328}
.fbFeedbackContent.fbDarkWidget .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#fff}
.fbFeedbackContent .composerHider .uiSelector .itemLabel{font-weight:normal}
.fbFeedbackContent .composerHider .uiSelector .checked .itemLabel{font-weight:bold}
.fbFeedbackContent .composerHider a{font-weight:bold}
.fbFeedbackContent .fbThirdPartyIcon{position:relative;right:1px;top:4px}
.fbCommentContext .fbCommentContextPosts{overflow-x:hidden;overflow-y:auto;max-height:400px}
.fbCommentContext .fbCommentContextPosts .fbTopLevelComment{padding-top:0}
.fbCommentContext .composerGrid{width:100%}
.fbCommentContext .composerTight{width:0}
.fbCommentContext .composerReply .uiButton{margin-right:4px}
.fbFeedbackContent .composer{background-color:transparent;background-color:rgba(190, 190, 190, .2);border:solid #e9e9e9;border-width:1px 0;padding:7px 10px 7px 69px;position:relative}
.fbFeedbackContent.fbDarkWidget .composer{background-color:#328;border-color:#666}
.fbFeedbackContent .fbFeedbackPosts .composer{margin-left:-10px}
.fbFeedbackContent .fbFeedbackPostsContainer .fbFeedbackPosts{padding:0}
.fbFeedbackContent .noTopBorder{border-top:0 !important}
.fbDarkWidget .fbCommentContext .composer{background-color:#555;border:none}
.fbCommentContext .composer{background-color:#f2f2f2;border:1px solid #ccc;margin-top:4px;padding-bottom:4px;padding-top:4px;padding-left:70px;position:relative}
.fbFeedbackContent .composer .uiProfilePhoto{background-color:#ddd;margin:2px 0 0 0;padding:0 !important;position:absolute;left:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead, .fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead .wrap{border-color:#434343}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .mentionsTextarea, .fbFeedbackContent .fbFeedbackMentions .mentionsTextarea{border-width:0;padding:0;margin:0;-webkit-box-shadow:none;background-color:transparent}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions{background-color:#000}
.fbFeedbackContent .fbFeedbackMentions{background-color:#fff;margin:2px 0}
.fbFeedbackContent .fbFeedbackMentions .innerWrap{padding:3px}
.fbFeedbackContent .fbFeedbackMentions .highlighter{left:0;top:0}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .highlighter b{background-color:#444}
.fbCommentContext .textwrapper, .fbFeedbackContent .textwrapper{padding:0 8px 0 0}
.fbFeedbackContent .postToProfile{float:left;position:relative;min-width:135px}
.fbFeedbackContent .postToProfile input{position:relative;top:2px}
.fbFeedbackContent div.commentas{color:gray;float:right;margin:4px 6px}
.fbFeedbackContent .indicator{float:left;margin:10px 0 0 -45px;position:absolute}
.fbFeedbackContent select.commentas{float:right;margin:1px 6px}
.hideCommentas .commentas{display:none}
.fbCommentContext.fbDarkWidget .composer textarea, .fbFeedbackContent.fbDarkWidget .composer textarea{color:#fff;background-color:#000;border:1px solid #434343}
.fbCommentContext .composer textarea, .fbFeedbackContent .composer textarea{border-width:0;border:1px solid;border-color:#899bc5;padding:3px;width:100%}
.fbFeedbackContent .replywrapper{padding:0 8px 0 0}
.fbCommentContext .viewerProfilePic{float:left}
.fbCommentContext .replywrapper{width:100%}
.fbCommentContext .replywrappermargin{margin:0 9px}
.fbCommentContext .replywrappermargin .textarea{margin-left:-4px}
.fbFeedbackContent.fbDarkWidget .composerReply{border-top:1px solid #666}
.fbFeedbackContent .composerReply{border-top:1px solid #e9e9e9}
.fbFeedbackContent .composerReply{padding-top:8px}
.fbFeedbackContent .composerReply textarea{width:100%}
.fbFeedbackContent .postContent .action_links{margin-bottom:8px}
.fbFeedbackContent .postBlingBox{border:none;bottom:1px;cursor:text;padding:0;position:relative}
.fbFeedbackContent .postBlingBox:hover{background-color:transparent;border:none}
.fbFeedbackContent .fbUpDownVoteAfterLogin{display:inline}
.fbFeedbackContent .fbFeedbackPager{margin-left:0}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink{padding:8px}
.fbFeedbackContent .fbFeedbackReplyPager .fbFeedbackPagerLink{padding:5px 8px}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink:hover{text-decoration:none}
.fbFeedbackContent .postReplies .pagerLoader{padding-left:2px}
.fbFeedbackContent{min-height:160px}
.fbCommentContext .fbFeedbackContent{min-height:0}
.fbFeedbackContent .fbFeedbackPosts{padding:0 0 0 10px}
.fbFeedbackContent .star{height:11px;width:11px}
.fbFeedbackContent .followLinkInlineCheck, .fbFeedbackContent .followLinkInlineCheckDark{margin-right:4px}
.fbFeedbackContent .post{margin-top:4px}
.fbFeedbackContent .post input{margin-left:0}
.fbCommentContext .post .uiSelector, .fbCommentContext .cancel .uiSelector, .fbFeedbackContent .post .uiSelector, .fbCommentContext .post .uiButton, .fbCommentContext .cancel .uiButton, .fbFeedbackContent .post .uiButton{float:right}
.fbCommentContext .post .uiSelector .uiButton, .fbCommentContext .cancel .uiSelector .uiButton, .fbFeedbackContent .post .uiSelector .uiButton{float:none}
.fbFeedbackContent .post label.desc{font-weight:normal;position:absolute;top:4px}
.fbFeedbackContent .profileName{font-size:11px}
.fbFeedbackContent .fbFeedbackPost{border:solid #e2e2e2;border-width:1px 0 0;clear:both;padding-bottom:0 !important;padding-top:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackPost{border-color:#555}
.fbFeedbackContent li.fbTopLevelComment:first-of-type{border-width:0}
.fbFeedbackContent li.fbTopLevelComment:last-of-type{margin-bottom:-5px}
.fbDarkWidget .fbFeedbackReplies .fbFeedbackPost{border-color:#444}
.fbFeedbackReplies .fbFeedbackPost{border-width:0 0 1px 0;border-color:#e9e9e9}
.fbFeedbackReply form, .fbFeedbackContent .postReply, .postReplies{margin-top:8px}
.postReplies .uiMorePagerLight .uiMorePagerPrimary:hover{background-color:transparent;background-color:rgba(225, 228, 237, .6)}
.postReplies .uiMorePagerInverted .uiMorePagerPrimary, .postReplies .uiMorePagerInverted .uiMorePagerLoader{background-color:transparent;border-width:1px 0 0 0;border-color:#444}
.fbFeedbackContent .uiMorePagerInverted .uiMorePagerPrimary:hover{background-color:#444;border-color:#555}
.fbDarkWidget .closeButton .uiCloseButton, .fbDarkWidget .closeButton .openToggler .uiCloseButton, .fbDarkWidget .closeButtonAfterLogin .uiCloseButton{border:1px solid #000;margin:0}
.fbFeedbackContent .postContainer:hover .closeButton, .fbFeedbackContent .postContainer:hover .closeButtonAfterLogin{visibility:visible}
.fbFeedbackContent .postContainer .closeButton, .fbFeedbackContent .postContainer .closeButtonAfterLogin{float:right;visibility:hidden}
.fbFeedbackPost{position:relative}
.fbFeedbackPost .postContent{margin-top:5px}
.fbDarkWidget .fbFeedbackPost .postText{color:#ccc}
.fbFeedbackPost .postText{color:#1a1a1a;line-height:14px;margin:0 28px 5px 0}
.fbFeedbackPost .postActor{background-color:#ededed;margin-bottom:8px;margin-right:11px}
.fbDarkWidget .postActor{background-color:#333}
.fbFeedbackReplyPager{height:16px;margin-bottom:8px}
.fbFeedbackContent .fbConnectWidgetFooter{position:static}
.fbFeedbackContent .fbConnectWidgetFooter .fbFooterBorder{margin:5px 0 0 0}
.fbTopLevelComment .fbFeedbackReplies .fbCommentReply{border-width:1px 0 0}
.fbFeedbackContent .fbCommentOverlay{border-style:solid;border-width:1px;position:absolute;top:0;left:0;bottom:0;right:0;opacity:.90;font-size:12px}
.fbFeedbackContent .fbReportedByUser{background-color:#fff;border-color:#eee}
.fbFeedbackContent .fbRecentlyBlacklisted{background-color:#444;border-color:#1a1a1a}
.fbFeedbackContent .fbRecentlyPublicized{background-color:#e4ffe2;border-color:#d2f1d0}
.fbFeedbackContent .fbRecentlyPrivatized{background-color:#fffbe8;border-color:#f7e0ff}
.fbFeedbackContent .fbCommentOverlayInsert{position:absolute;top:50%;margin-top:-0.5em;text-align:center;width:100%}
.fbFeedbackContent .fbCommentDownvotedButVisible .postText{color:gray}
.fbFeedbackContent .fbCommentOverlayDark{color:#000}
.fbFeedbackContent .fbCommentOverlayLight{color:#fff}
.fbFeedbackContent .fbCommentOverlayLight a:link, .fbFeedbackContent .fbCommentOverlayLight a:hover, .fbFeedbackContent .fbCommentOverlayLight a:visited, .fbFeedbackContent .fbCommentOverlayLight a:active{color:#999}
.fbCommentsEditSettings .uiInfoTable .label{width:145px;vertical-align:middle}
.fbCommentsEditSettings .uiInfoTable tr{border-top:1px solid #ccc}
.fbCommentsEditSettings .uiInfoTable tr:first-child{border:none}
.fbCommentsEditSettings .uiInfoTable th{padding:10px 5px 10px 0}
.fbCommentsEditSettings .uiInfoTable td{padding:10px 0 10px 5px}
.fbCommentsEditSettings .uiInfoTable tr:first-child th, .fbCommentsEditSettings .uiInfoTable tr:first-child td{padding-top:0}
.fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) th, .fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) td{padding-bottom:0}
.fbCommentsEditSettings .uiInfoTable tr:last-child, .fbCommentsEditSettings .uiInfoTable tr.custom_blacklist{border:none}
.fbCommentsEditSettings .uiInfoTable tr.custom_blacklist th, .fbCommentsEditSettings .uiInfoTable tr.custom_blacklist td{padding:0 5px 10px 5px}
.fbDarkWidget .warning a{color:gray}
.uiHeader h2{color:#1c2a47;font-size:16px}
.uiHeader h2 a{color:#1c2a47}
.uiHeader h3, .uiHeader h4{color:#333;font-size:11px}
.uiHeader h5{color:#666;font-size:11px}
.uiHeader .uiHeaderTitle{outline:none}
.uiHeaderWithImage .uiHeaderTop{position:relative}
.uiHeaderWithImage .uiHeaderTitle{padding-left:22px}
.uiHeaderImage{left:0;position:absolute}
.uiHeader h2 .uiHeaderImage{top:2px}
.uiHeaderTopBorder{border-top:1px solid #aaa;padding-top:.5em}
div.uiHeaderTopBorder{margin-left:0}
.uiHeaderTopAndBottomBorder{border-bottom:1px solid #e9e9e9;border-top:1px solid #aaa;padding:5px 0}
.uiHeaderMiddleBorder{border-bottom:1px solid #ccc;height:.8em;margin:.5em 0 1.5em 0;position:relative}
.uiHeaderMiddleBorder .uiHeaderTitle, .uiHeaderMiddleBorder .uiHeaderActions{background-color:#fff;position:absolute;top:0}
.uiHeaderMiddleBorder .uiHeaderTitle{left:0;padding-right:.5em}
.uiHeaderMiddleBorder .uiHeaderActions{padding-left:.5em;right:0}
.uiHeaderMiddleBorder .uiButton{margin-top:-2px}
.uiHeaderBottomBorder{border-bottom:1px solid #aaa;padding-bottom:.5em}
.uiHeaderPage{padding:6px 0 16px}
.uiHeaderPage .uiHeaderTitle{line-height:20px;min-height:20px;padding-bottom:2px;vertical-align:bottom}
.uiHeaderPage .uiHeaderActions{margin-top:-1px}
.uiHeaderPage .uiHeaderTop .fsl{margin-top:3px}
.uiHeaderNav{border-color:#eee;margin:8px 0 0 6px;padding:7px 6px 3px 5px}
.uiHeaderNavEmpty{padding-top:6px}
.uiHeaderNav h4{color:gray}
.uiHeaderSection, .uiSideHeader{background-color:#f2f2f2;border-bottom:none;border-top:solid 1px #e2e2e2;padding:4px 6px 5px}
.lfloat{float:left}
.rfloat{float:right}
.uiLinkButton input{background:none;border:none;color:#3b5998;cursor:pointer;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size:11px;margin:0;padding:0;vertical-align:top}
.uiLinkButton:hover, .uiLinkButton input:hover, .uiLinkButton input:focus, .uiLinkButton input:active{color:#3b5998;text-decoration:underline}
.uiLinkButtonSubtle input, .uiLinkButtonSubtle:hover, .uiLinkButtonSubtle input:hover, .uiLinkButtonSubtle input:focus, .uiLinkButtonSubtle input:active{color:gray}
.uiLinkButton input.async_saving{text-decoration:none}
.uiMentionsInput{position:relative}
.uiMentionsInput .mentionsTextarea, .uiMentionsInput .mentionsTypeahead{background:transparent;zoom:1}
.uiMentionsInput .mentionsTextarea{line-height:1.28}
.uiMentionsInput .highlighter{left:0;overflow:hidden;position:absolute;padding:4px;top:0}
.uiMentionsInput .highlighter div{color:transparent;line-height:1.28;white-space:pre-wrap;width:100%;word-wrap:break-word}
.uiMentionsInput .highlighterContent{display:inline-block;max-width:100%}
.uiMentionsInput .highlighter b{background:#d8dfea;font-weight:normal}
.pop_container_advanced{background:rgba(82,82,82,0.7);-webkit-border-radius:8px;padding:10px}
.pop_content_old{position:relative}
.pop_container{direction:ltr;position:relative;top:10px}
.pop_topleft, .pop_topright, .pop_bottomleft, .pop_bottomright{height:10px;width:10px;overflow:hidden;position:absolute}
.pop_topleft{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-106px -30px;left:-10px;top:-10px}
.pop_topright{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-117px -30px;right:-10px;top:-10px}
.pop_bottomleft{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-84px -30px;bottom:-10px;left:-10px}
.pop_bottomright{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-95px -30px;right:-10px;bottom:-10px}
.pop_verticalslab, .pop_horizontalslab{width:100%;height:100%;position:absolute;background:#525252;opacity:.7}
.pop_verticalslab{margin:-10px 0 0;padding-bottom:20px}
.pop_horizontalslab{margin:0 0 0 -10px;padding-right:20px}
.generic_dialog{height:0;left:0;overflow:visible;outline:none;position:fixed;top:0;width:100%;z-index:200}
.generic_dialog_modal, .generic_dialog_fixed_overflow{background-color:rgba(252, 252, 252, .9);height:100%;z-index:400}
.generic_dialog_fixed_overflow{overflow-x:auto;overflow-y:scroll}
.generic_dialog_fixed_overflow .generic_dialog_popup{height:auto;padding-bottom:40px}
.generic_dialog_overflow_mode body{overflow:hidden !important}
.generic_dialog_popup{height:0;overflow:visible;width:465px;margin:0 auto}
.generic_dialog div.dialog_loading{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:10px}
.pop_content{direction:ltr;outline:none}
.pop_dialog_rtl .pop_content{direction:rtl}
.pop_content h2.dialog_title{background:#6d84b4;border:1px solid #3b5998;border-bottom:none;color:#fff;font-size:14px;font-weight:bold;margin:0}
.pop_content h2.secure{background:#6d84b4 url(jp8TzrZb6J1.png) 98% no-repeat}
.pop_content h2.loading{background:#6d84b4 url(AGUNXgX_Wx3.gif) 98% no-repeat}
.pop_content h2.dialog_loading{background:#6d84b4 url(AGUNXgX_Wx3.gif) no-repeat 400px 10px;padding-right:40px}
.pop_content h2 span{display:block;padding:5px 10px}
.pop_content .dialog_content{background:#fff;border:1px solid #555;border-top-width:0}
.pop_content .dialog_content.dialog_content_titleless{border-top:1px solid #555}
.pop_content .dialog_loading, .dialog_loading_shown .dialog_title, .dialog_loading_shown .dialog_content{display:none}
.dialog_loading_shown .dialog_loading{display:block}
.pop_content .dialog_body{padding:10px;border-bottom:1px solid #ccc}
.omitDialogFooter .pop_content .dialog_body{border-bottom:0}
.pop_content .dialog_summary{background:#f2f2f2;padding:8px 10px;border-bottom:1px solid #ccc}
.pop_content .dialog_buttons{background:#f2f2f2;padding:8px 10px 8px 10px;position:relative;text-align:right}
.pop_content .dialog_buttons_msg{float:left;line-height:17px;padding-top:4px}
.pop_content .dialog_buttons_msg .uiInputLabel{line-height:14px}
.pop_content .dialog_footer{background:#F2F2F2 none repeat scroll 0}
.full_bleed .pop_content .dialog_body{padding:0}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.sp_comments{
	background-image: url(../images/content/like.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px
}
.sx_comments_favicon{background-position:-0px -153px}
.sx_comments_cfavicon{width:14px;height:14px;background-position:-0px -187px}
.sx_comments_yahoo{background-position:-17px -153px}
.sx_comments_aol{background-position:-34px -153px}
.sx_comments_msft{background-position:-0px -170px}
.sx_comments_pyahoo{width:50px;height:50px;background-position:-0px -0px}
.sx_comments_paol{width:50px;height:50px;background-position:-0px -51px}
.sx_comments_pmsft{width:50px;height:50px;background-position:-0px -102px}
.sx_comments_star{width:11px;height:10px;background-position:-0px -202px}
.sx_comments_darkstar{width:11px;height:10px;background-position:-28px -187px}
.sx_comments_arrowb{width:9px;height:5px;background-position:-33px -202px}
.sx_comments_arroww{width:9px;height:5px;background-position:-23px -202px}
.sx_comments_arrowl{width:5px;height:3px;background-position:-28px -198px}
.sx_comments_like{width:15px;height:13px;background-position:-33px -170px}
.sx_comments_darklike{width:15px;height:13px;background-position:-17px -170px}
.sx_comments_subscribe{width:12px;height:14px;background-position:-15px -187px}
.sx_comments_subscribedark{width:10px;height:10px;background-position:-40px -187px}
.sx_comments_followLinkInlineCheck{width:9px;height:11px;background-position:-0px -213px}
.sx_comments_followLinkInlineCheckDark{width:10px;height:10px;background-position:-12px -202px}
.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,
.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{font-size:9px;padding:0 12px 0 0;white-space:nowrap}
.text_exposed_link_icon{margin:0 0 -1px 4px}
.text_exposed .text_exposed_link{display:none !important}
.textMetrics{border:none;height:1px;overflow:hidden;padding:0;position:absolute;top:-9999999px}
.webkitZoomTest{font-size:100px;height:1em;position:absolute;-webkit-text-size-adjust:none}
div.intl_app_translation_dialog div.generic_dialog_popup{width:484px}
div.intl_tabbed_dialog .tab_header{border-bottom:1px solid #ccc;margin:0 10px 10px 10px;padding:10px 0 10px 0}
.tab_header h2{font-size:16px}
div.intl_tabbed_dialog .tab_buttons{background-color:#f7f7f7;border-top:1px solid #ddd;margin-top:5px;padding:10px 10px 10px 10px;text-align:right}
div.intl_vmode_dialog div.generic_dialog_popup{width:63px}
div.intl-dialog{background-color:#fff;padding:10px;overflow:hidden}
div.intl-dialog h2{text-align:left}
div.intl-dialog .glossary{border-top:1px solid #ccc;margin:10px 0 0 0;text-align:left;direction:ltr}
div.intl-dialog .glossary h2{color:#3b5998;font-size:13px;margin:3px 0 0 0}
div.intl-dialog .glossary dl{margin:0}
div.intl-dialog .preview{border-top:1px solid #ccc;margin:10px 0 0 0;text-align:left;direction:ltr}
div.intl-dialog .preview h2{color:#3b5998;font-size:13px;margin:3px 0 0 0}
.fuzzies{padding:0 0 10px 17px}
.fuzzies p{margin:0 0 5px 0;direction:ltr}
.fuzzies ul{padding:0 0 0 4px}
.fuzzies ul li{line-height:16px}
.fuzzies ul li:before{content:"\00BB \0020"}
div.intl-dialog .phrase{background:url(ru6LOX9l8Jw.gif) no-repeat left top transparent;padding:2px 40px 5px 10px}
div.intl-dialog .native_string{direction:ltr;font-size:13px;margin-bottom:20px;margin-top:0}
a.intl-more{clear:none;padding:0;margin:0;text-align:right;display:inline}
html body em.intl-sandbox{font-style:normal}
html body em.intl-prototype-approvable, html body em.intl-prototype-approved, html body em.intl-prototype-autoapproved, html body em.intl-prototype-complainable, html body em.intl-prototype-complained, html body em.intl-prototype-contributed, html body em.intl-prototype-iapproved, html body em.intl-prototype-prototype, html body em.intl-prototype-translatable, html body em.intl-prototype-translated, html body em.intl-prototype-voted{border-bottom:2px solid black;background:none;font-style:normal;padding:0;zoom:1;width:auto}
html body em.intl-prototype-approvable:hover, html body em.intl-prototype-approved:hover, html body em.intl-prototype-autoapproved:hover, html body em.intl-prototype-complainable:hover, html body em.intl-prototype-complained:hover, html body em.intl-prototype-contributed:hover, html body em.intl-prototype-iapproved:hover, html body em.intl-prototype-prototype:hover, html body em.intl-prototype-translatable:hover, html body em.intl-prototype-translated:hover, html body em.intl-prototype-voted:hover{cursor:help;border-top:1px solid #ccc}
html body em.intl-prototype-approvable, html body em.intl-prototype-prototype, html body em.intl-prototype-translatable, html body em.intl-prototype-unvotable, html body em.intl-prototype-votable{border-bottom:1px solid #f99;background:none}
html body em.intl-prototype-approvable:hover, html body em.intl-prototype-prototype:hover, html body em.intl-prototype-translatable:hover, html body em.intl-prototype-unvotable:hover, html body em.intl-prototype-votable:hover{background-color:#fcc}
html body em.intl-prototype-approved, html body em.intl-prototype-complainable, html body em.intl-prototype-translated{border-bottom:1px solid #6c9;background:none}
html body em.intl-prototype-approved:hover, html body em.intl-prototype-complainable:hover, html body em.intl-prototype-translated:hover{background-color:#cdffcd}
html body em.intl-prototype-autoapproved{border-bottom:1px dotted #6c9;background:none}
html body em.intl-prototype-autoapproved:hover{background-color:#ccc}
html body em.intl-prototype-complained, html body em.intl-prototype-contributed, html body em.intl-prototype-iapproved, html body em.intl-prototype-voted{border-bottom:1px solid #fc0;background:none}
html body em.intl-prototype-complained:hover, html body em.intl-prototype-contributed:hover, html body em.intl-prototype-iapproved:hover, html body em.intl-prototype-voted:hover{background-color:#ff9}
span.intl-title{color:#3b5998;font-size:14px}
input.intl-dialog{background-color:#dde;font-size:13px;font-weight:bold}
div.intl-page{background-color:#fff}
.edit-translations #content{padding:12px 0 0 0}
.native_string_dialog{direction:ltr;width:430px;float:left;text-align:left}
.native_string_dialog.translated{width:420px;padding:10px 0 0 10px;float:left}
.native_string_dialog p{color:#333;font-size:13px;margin:5px 0 6px 0;padding:0 0 0 17px;width:430px;text-align:left;direction:ltr;background:url(j_x6_e8Haxo.gif) no-repeat top left}
.native_string_dialog span{padding:0 17px 5px 0;margin:0 0 10px 0;background:url(RTC56GNi1LC.gif) no-repeat right 2px;display:inline-block}
.Locale_fr_FR .native_string_dialog p{background:url(kdpl4gIdqt9.gif) no-repeat left top}
.Locale_fr_FR .native_string_dialog span{background:url(9qZYWKJ4xGh.gif) no-repeat top right}
.native_string_dialog small{color:#777;display:block;padding-top:2px;text-align:left}
.native_string_dialog .ns_suffix{color:#777}
.native_string_tokens a{border-bottom:1px dotted #3b5998;padding:0 0 3px 0}
.native_string_tokens a:hover{text-decoration:none;border-bottom:1px solid #3b5998;padding:0 0 3px 0}
.native_string_tokens p{margin:5px 0 6px 2px;line-height:20px}
#intl_extra_phrases{clear:both;background-color:#fff;margin:50px auto}
#intl_extra_phrases .intl_inner_frame{width:942px;margin:20px auto;border:1px solid #ccc;border-bottom:1px solid #3b5998}
#intl_extra_phrases .intl_inner_frame{background:#f7f7f7;padding:10px}
#intl_extra_phrases .inside_inner_frame{background:#fff;border:1px solid #ddd;padding:10px}
#intl_extra_phrases #intl_col1, #intl_extra_phrases #intl_col2{width:440px;float:left;padding:0 5px 0 15px}
#intl_extra_phrases li{line-height:20px}
.intl_header_notch{direction:ltr;text-align:left}
.intl_header_notch h3{font-size:13px;font-weight:bold;color:#333;float:left}
.intl_header_notch span{float:right;font-weight:bold}
#intl_extra_phrases h1{margin:0 0 10px 0;border-bottom:1px solid #ccc;padding-bottom:4px}
#intl_extra_phrases .noted{text-align:left;direction:ltr;margin:0;padding:12px 0;font-size:11px;color:#555}
#intl_extra_phrases ul.with_list_style{list-style:square;margin-left:0;line-height:18px;padding:0 0 0 15px}
#intl_extra_phrases ul.no_list_style{margin-left:0;line-height:18px;padding:0 0 0 15px}
#intl_extra_phrases .close_window{background:#f7f7f7;border-top:1px solid #e7e7e7;padding:5px;text-align:left}
img.control{border:0;padding:0 0 0 10px;margin:0}
.approve_table{margin-bottom:10px}
.approve_table th{border-bottom:1px solid #ccc}
.approve_table td{border-bottom:1px solid #ddd;font-weight:bold}
.approve_table .over-row td{background:#d8dfea}
.approve_table .approved_row .score_row{background:#e7e7e7}
.approve_table .approved_row td{background:#f1f1f1}
.approve_table .score_row{background:#f8f8f8;text-align:center}
.report_table .info_para select{font-size:12px}
.report_table #impossible_form{padding-bottom:10px}
.complain_suggest{padding:2px 0 6px 0}
.errorMessage{background:#ffeded;border:1px solid #a00;clear:both;font-size:1.0em;font-weight:bold;margin:25px 10px;padding:10px 20px 10px 40px;text-align:center}
.variation_attrs{margin:10px 0 10px 20px}
.intl-segment-next{margin-left:10px}
.intl-disabled{color:gray}
.intl-segment-insert{text-align:right}
.intl-changes .bright{background:#bfb;color:#121}
.intl-match-quality{font-size:9px;color:#121}
.help_form .dialog .inline_text{padding-bottom:10px}
.search_form{/* @noflip */ float:right}
.locale_selector{text-align:left;padding:0 10px 40px 20px}
.title_row .title{/* @noflip */ float:left;width:300px}
.title_row .pager{/* @noflip */ float:right}
.title_row h3{font-size:11px;color:#555;padding:0;margin:0 0 4px 0;font-weight:normal}
.title_row h3 span{color:#000;font-weight:bold}
/* @noflip */ .nt_row .controls{float:left;padding:0 10px 0 0}
.controls .nt_verified{float:right;margin-top:2px}
.nt_row .controls.justone{float:left;padding:0 10px 0 0;width:20px}
.nt_row .controls a.delete{background-image:url(iFjAdRBY_sL.gif)}
.nt_row .controls a.delete:hover{background-image:url(nxvE0sWnqcL.gif)}
.controls .down_cont{float:left;width:19px}
.controls .up_cont{float:left;width:20px}
.controls .down_cont a{display:block;width:19px;height:20px;background:url(BwC4_3LyQCn.gif) top left no-repeat;text-decoration:none}
.controls .up_cont a{display:block;width:20px;height:20px;background:url(jrK_XbSboTL.gif) top left no-repeat;text-decoration:none}
.controls a:hover.downover{background-position:-19px 0}
.controls a:hover.upover{background-position:-20px 0}
.controls a.downselect{background-position:-38px 0}
.controls a.upselect{background-position:-40px 0}
.string{clear:both;padding:12px 0;border-top:1px solid #d8dfea}
/* @noflip */ .translations_page_content .phrases{padding:0 10px;float:left}
/* @noflip */ .nt_actions{width:120px;float:left}
.phrases .native_string{margin-bottom:5px}
/* @noflip */ .native_string .t_link{width:90px;float:left}
.native_string .t_text{width:520px;/* @noflip */ float:left;font-size:13px;/* @noflip */ direction:ltr}
/* @noflip */ .native_string .sub_comment{font-size:11px;padding:1px 0 1px 6px;margin:10px 0 0 0;color:gray;line-height:15px;border-left:3px solid #d8dfea}
.nt_row{padding:10px 0 0 0}
/* @noflip */ .nt_votes{text-align:right;width:36px;float:left;padding:0 5px 0 0}
/* @noflip */ .translations_page_content .nt_strings{width:510px;float:left}
.nt_votes h3{font-size:20px;padding-top:1px;font-family:Helvetica, Arial, sans-serif;margin-bottom:-2px}
.nt_votes h3.subpar{font-size:18px;font-family:Helvetica, Arial, sans-serif;margin-bottom:-2px;color:#a1a5a9}
.nt_trans{width:499px;border-top:1px solid #ddd;padding:8px 0;margin:0 0 0 25px;float:left}
.nt_trans .nt_strings{width:450px;float:left}
.nt_text{font-size:12px;line-height:16px;color:#555;margin:0;/* @noflip */ text-align:left}
/* @noflip */ .nt_text_rtl{font-size:12px;line-height:16px;color:#555;margin:0;text-align:left;direction:rtl}
.intl_inline_delete_button{float:right}
.nt_warning{font-size:11px;margin:3px 0;padding:1px 0;color:#555;padding-left:6px;border-left:3px solid #e98300}
.warning_title{font-weight:bold}
.vote_total{margin:5px 0 6px 90px;width:40px;float:right;text-align:right}
.translations_mine .native_string p{margin-left:0}
.native_string a.translate_link{font-size:11px;float:left;margin:0;padding:2px 16px 5px 20px;/* @noflip */ background:url(yK6Sg58jdbk.gif) no-repeat top left}
.native_string a.unapproved_link{font-size:11px;float:left;margin:0;color:#fff;padding:2px 16px 5px 20px;background:url(du5QTgfFfxc.gif) no-repeat top left}
.translations_page_content{margin:0}
.fallback{margin-bottom:0;padding:20px 0 20px 0}
.fallback p.notify{font-size:13px;color:#555;line-height:20px;text-align:center}
#inline_wall_post{margin:5px 0 10px 0}
a.link_vote_more{display:none}
.nt_trans_extra_link{display:none;direction:ltr}
.publish_msg{padding:10px 0;font-size:12px;color:#555}
.publish_table_name{color:#777;font-size:12px;font-weight:bold;padding-top:10px}
.publish_result{padding-top:20px}
span.search_highlight{background-color:#ff0}
.successMessage{background:#DDEEFF none repeat scroll 0;border:1px solid #06a;clear:both;font-size:1.0em;font-weight:bold;margin:20px;padding:15px;text-align:center}
.errorMessage{background:#ffeded;border:1px solid #a00;clear:both;font-size:1.0em;font-weight:bold;margin:25px 10px;padding:10px 20px 10px 40px;text-align:center}
.email_options{padding-bottom:10px;padding-right:10px;float:left}
.uiTypeahead{background:#fff;border:solid #bdc7d8;border-width:1px 0;cursor:default;position:relative}
.uiTypeahead .wrap{border:solid #bdc7d8;border-width:0 1px}
.uiTypeahead .innerWrap{overflow:hidden;zoom:1}
.uiTypeahead .textInput{background-color:transparent;border:0;-webkit-box-sizing:border-box;outline:0;width:100%}
.uiTypeahead .selected{background-color:#e2e8f6}
.uiTypeaheadDisabled, .uiTypeaheadDisabled div.wrap{border-color:#ccc}
.uiTypeaheadDisabled div.wrap{background:#e2e2e2}
.uiTypeaheadDisabled div.wrap .textInput{color:#333}
.uiTypeaheadView{display:block;left:0;position:absolute;top:100%;width:100%}
.uiContextualLayer .uiTypeaheadView{position:static}
.uiTypeaheadView ul{background:#fff;border:solid;border-width:1px 1px 2px;border-color:#333 #333 #293e6a;overflow:hidden;padding:2px 0}
.uiTypeaheadView .freeform{border-top-color:#ddd;padding:2px 6px 1px;text-align:center}
.uiTypeaheadView li{border:solid #fff;border-width:1px 0;color:#333;cursor:pointer;display:block;min-height:1px;padding:0 6px;position:relative}
.uiTypeaheadView strong{background-color:#d8dfea;color:#3b5998}
div.uiTypeaheadView .selected{background-color:#6d84b4;border-color:#3b5998}
.uiTypeaheadView .selected, .uiTypeaheadView .selected a, .uiTypeaheadView .selected div, .uiTypeaheadView .selected span{color:#fff !important}
.uiTypeaheadView .selected strong{background-color:#5670a6}
.uiTypeaheadView .text, .uiTypeaheadView .subtext, .uiTypeaheadView .category{display:block;padding-bottom:2px}
.uiTypeaheadView .category{color:#666}
.uiTypeaheadView .subtext{color:#999}
.uiTypeaheadView .arrow{background:transparent url(IJYgcESal33.png) 0 -413px;display:inline-block;height:7px;margin-left:4px;width:4px}
.uiTypeaheadView .selected .arrow{background-position:0 -420px}
div.uiTypeaheadView li.calltoaction{background:#f7f7f7;border-bottom:none;border-color:#ddd;display:block;min-height:1px;margin:2px 0 -2px;padding:8px;text-align:center}
div.uiTypeaheadView li.calltoaction.selected{background:#6d84b4;border-color:#3b5998}
div.typeaheadViewLoading li.calltoaction span.text{visibility:hidden}
div.typeaheadViewLoading li.calltoaction{background:#f7f7f7 url(GsNJNwuI-UM.gif) no-repeat 50% 50%}
div.typeaheadViewLoading li.calltoaction.selected{background:#6d84b4 url(AGUNXgX_Wx3.gif) no-repeat 50% 50%}
.uiBlingBox{border-bottom:1px solid #fff;display:inline-block;padding:3px 4px 3px 2px}
.uiBlingBox:hover{text-decoration:none;background-color:#eceff5;border-bottom:1px solid #e5eaf1}
.uiBlingBox .text{line-height:11px;vertical-align:text-bottom}
.uiBlingBoxSm .text{font-size:9px}
.uiBlingBox .img{margin-right:2px;vertical-align:text-top}
.uiBlingBoxSm .img{vertical-align:text-bottom}
.uiBlingBox .emptyBling{margin-right:0 !important}
.uiBoxGray{background-color:#f2f2f2;border:1px solid #ccc}
.uiBoxDarkgray{color:#ccc;background-color:#333;border:1px solid #666}
.uiBoxLightblue{background-color:#edeff4;border:1px solid #d8dfea}
.uiBoxRed{background-color:#ffebe8;border:1px solid #dd3c10}
.uiBoxWhite{background-color:#fff;border:1px solid #ccc}
.uiBoxYellow{background-color:#fff9d7;border:1px solid #e2c822}
.uiBoxOverlay{background:rgba(255, 255, 255, .85);border:1px solid #3b5998;border:1px solid rgba(59, 89, 153, .65);zoom:1}
.noborder{border:none}
.topborder{border-bottom:none;border-left:none;border-right:none}
.bottomborder{border-left:none;border-right:none;border-top:none}
.dashedborder{border-style:dashed}
.uiButton{cursor:pointer;display:inline-block;font-size:11px;font-weight:bold;line-height:13px;padding:2px 6px;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap}
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-352px -348px;background-color:#eee;border:1px solid #999;border-bottom-color:#888;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
.uiButtonLarge{line-height:16px}
.uiButton + .uiButton{margin-left:4px}
.uiButton:hover{text-decoration:none}
.uiButton:active, .uiButtonDepressed{background:#ddd;border-bottom-color:#999;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .img{margin-top:2px;vertical-align:top}
.uiButtonLarge .img{margin-top:4px}
.uiButton .customimg{margin-top:0}
.uiButton .uiButtonText, .uiButton input{background:none;border:0;color:#333;cursor:pointer;display:inline-block;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size:11px;font-weight:bold;margin:0;padding:1px 0 2px;white-space:nowrap}
.uiButtonOverlay, .uiButtonOverlay:hover{-webkit-background-clip:padding-box;background-color:#fff;background-color:rgba(255, 255, 255, .8);background-image:none;border-color:#a5a5a5;border-color:rgba(0, 0, 0, .35);-webkit-border-radius:2px}
.uiButtonOverlay:focus, .uiButtonOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:#3b5998;border-color:rgba(59, 89, 152, .5)}
form.async_saving .uiButton.uiButtonOverlay, .uiButtonOverlay.uiButtonDisabled, .uiButtonOverlay.uiButtonDisabled:active, .uiButtonOverlay.uiButtonDisabled:focus, .uiButtonOverlay.uiButtonDisabled:hover{background-color:#fff;background-color:rgba(255, 255, 255, .8);border-color:#c8c8c8;border-color:rgba(180, 180, 180, .8)}
.uiButtonSpecial{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-352px -152px;background-color:#69a74e;border-color:#3b6e22 #3b6e22 #2c5115}
.uiButtonSpecial:active{background:#609946;border-bottom-color:#3b6e22}
form.async_saving .uiButton.uiButtonSpecial, .uiButtonSpecial.uiButtonDisabled, .uiButtonSpecial.uiButtonDisabled:active, .uiButtonSpecial.uiButtonDisabled:focus, .uiButtonSpecial.uiButtonDisabled:hover{background:#b4d3a7;border-color:#9db791}
.uiButtonConfirm{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-352px -54px;background-color:#5b74a8;border-color:#29447e #29447e #1a356e}
.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}
form.async_saving .uiButton.uiButtonConfirm, .uiButtonConfirm.uiButtonDisabled, .uiButtonConfirm.uiButtonDisabled:active, .uiButtonConfirm.uiButtonDisabled:focus, .uiButtonConfirm.uiButtonDisabled:hover{background:#adbad4;border-color:#94a2bf}
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input{color:#fff}
form.async_saving .uiButton, .uiButtonDisabled, .uiButtonDisabled:active, .uiButtonDisabled:focus, .uiButtonDisabled:hover{background:#f2f2f2;border-color:#c8c8c8;-webkit-box-shadow:none}
form.async_saving .uiButton .img, .uiButtonDisabled .img{opacity:.5}
form.async_saving .uiButton .uiButtonText, form.async_saving .uiButton input, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input{color:#b8b8b8}
form.async_saving .uiButton, form.async_saving .uiButton .uiButtonText, form.async_saving .uiButton input, .uiButtonDepressed, .uiButtonDepressed .uiButtonText, .uiButtonDepressed input, .uiButtonDisabled, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input{cursor:default}
.uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input{font-size:13px}
.uiButtonSuppressed{background:none;border-color:transparent;-webkit-box-shadow:none}
.uiButtonNoText .img{margin-left:-1px;margin-right:-1px}
.android .uiButton .uiButtonText, .android .uiButton input{padding:3px 0 1px 1px}
.uiSelector .uiCloseButton{-webkit-background-clip:padding-box;border:1px solid transparent;margin:0}
.uiSelector .openToggler .uiCloseButton{background-position:left -32px}
.uiSelector .openToggler .uiCloseButtonSmall{background-position:left -24px}
.uiContextualLayerPositioner{height:0;position:absolute;z-index:200}
.uiContextualLayer{position:absolute}
div.uiContextualLayerPositionerFixed{position:fixed}
.uiContextualLayerParent{position:relative}
.uiIconText{padding-left:21px;position:relative}
label.uiIconText{vertical-align:baseline}
.uiIconText .img{left:0;position:absolute;top:-1px;vertical-align:middle}
i.img u{position:absolute;top:-9999999px}
.uiImageBlockContent{overflow:hidden}
.uiImageBlockSmallContent{padding-top:1px}
.uiImageBlockImage, .uiImageBlockImage .img{display:block}
.uiImageBlockSmallImage{margin-right:5px}
.uiImageBlockMediumImage{margin-right:8px}
.uiImageBlockLargeImage{margin-right:10px}
a.uiLinkLightBlue{color:#6d84b4}
a.uiLinkSubtle{color:gray}
.uiListItem{display:block}
.uiListHorizontalItem{float:left}
.uiListLight, .uiListMedium, .uiListDark{border-style:solid}
.uiListHorizontalItemBorder{border-width:0 0 0 1px}
.uiListVerticalItemBorder{border-width:1px 0 0 0}
.uiListItem:first-child{border-width:0}
.uiListLight{border-color:#e9e9e9}
.uiListMedium{border-color:#ccc}
.uiListDark{border-color:#aaa}
.uiListBulleted{color:#3b5998;list-style-type:square;margin-left:12px}
.uiMenu{background-color:#fff;padding:3px 0 4px;overflow-y:auto}
.uiMenuItem .itemAnchor{border:solid #fff;border-width:1px 0;color:#111;display:block;font-weight:normal;line-height:16px;padding:1px 16px 1px 22px;text-decoration:none}
.uiMenuItem a:hover{text-decoration:none}
.uiMenuItem a:active, .uiMenuItem a:focus{background-color:#6d84b4;border-color:#3b5998;color:#fff;outline:none}
.uiMenu .checked .itemAnchor{background:url(6NHt8H5uyPf.png) left 4px no-repeat;font-weight:bold}
.uiMenu .checked a:active, .uiMenu .checked a:focus{background-color:#6d84b4;background-position:left -56px}
.uiMenuItem{white-space:nowrap}
.uiMenuItem .itemLabel{display:block;max-width:300px;text-overflow:ellipsis;white-space:nowrap}
.uiMenuItem .itemWithIcon .itemLabel, .uiMenuItem .itemIcon{display:inline-block;vertical-align:middle}
.uiMenuItem .itemLabel .menuIcon{vertical-align:sub}
.uiMenu .uiMenuItemPlus{position:relative;zoom:1}
.uiMenu .uiMenuItemPlusIcon{display:block;left:8px;position:absolute;top:6px;background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-130px -20px;overflow:hidden;width:8px;height:8px}
.uiMenu .selected .uiMenuItemPlusIcon{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:-122px -20px}
.uiMenuItemBigLabel .itemLabel{overflow:hidden;min-width:300px}
.uiMenuItem .disabledAnchor, .uiMenu .disabled .itemAnchor{display:none}
.uiMenu .disabled .disabledAnchor{display:block}
.uiMenu .disabled .itemAnchor{opacity:.55}
.uiMenuItemGroup .groupTitle{margin:0 16px 3px 22px}
.uiMenuSeparator{border-bottom:1px solid #ddd;margin:5px 7px 6px;padding-top:1px}
.uiMenuContainer{overflow:hidden}
.uiMenuContainer .uiMenu{position:relative}
.uiMorePager .uiMorePagerPrimary{display:block;padding:10px 15px}
.uiMorePager .uiMorePagerPrimary:hover{background-color:#d8dfea}
.uiMorePager .uiMorePagerSecondary{margin:10px 15px}
.uiMorePager .arrow{display:inline-block;vertical-align:top}
.uiMorePager .uiMorePagerLoader{display:none;padding:11px 15px 9px;text-align:center}
.async_saving .uiMorePagerLoader{display:block}
.async_saving .uiMorePagerPrimary,
.async_saving .uiMorePagerSecondary{display:none}
.uiMorePagerCenter{text-align:center}
.objectListItem{padding-bottom:8px;padding-top:8px}
.passive .objectListItem{color:gray}
.objectListItem .auxiliary{text-align:right}
.uiProfilePhotoHugeBadCrop{background-position:center 25%}
.uiProfilePhotoHuge{width:100px;height:100px}
.uiProfilePhotoLarge{width:50px;height:50px}
.uiProfilePhotoMedium{width:32px;height:32px}
.uiProfilePhotoSmall{width:24px;height:24px}
.openToggler{z-index:100}
.uiToggleFlyout, .toggleTargetClosed, .openToggler .uiToggleFlyout .uiToggleFlyout{display:none}
.openToggler .uiToggleFlyout, .openToggler .uiToggleFlyout .openToggler .uiToggleFlyout{display:block}
.hideToggler{border:0;height:0;opacity:0;overflow:hidden;position:absolute;width:0}
.uiSelector{max-width:200px;vertical-align:top}
.uiSelector .wrap{position:relative}
.uiSelector select, .uiSelector .submitButton, .no_js form .uiSelectorButton{display:none}
.no_js form .uiSelector select, .no_js form .uiSelector .submitButton{display:inline}
.uiSelector .uiButton, .uiSelector .uiButton:active, .uiSelector .uiButton:focus, .uiSelector .uiButton:hover{background-image:none}
.uiSelector .uiSelectorButton{vertical-align:top}
.uiSelector .uiSelectorButton:active{background-color:#ddd}
.uiSelector .openToggler .uiSelectorButton, .uiSelector .openToggler .uiSelectorButton:active, .uiSelector .openToggler .uiSelectorButton:focus, .uiSelector .openToggler .uiSelectorButton:hover{background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none;-webkit-box-shadow:none}
.uiSelectorNormal .uiSelectorChevronOnly, .uiSelectorNormal .uiSelectorChevronOnly:active, .uiSelectorNormal .uiSelectorChevronOnly:focus, .uiSelectorNormal .uiSelectorChevronOnly:hover{height:20px;padding:0}
.uiSelectorNormal .uiSelectorButton, .uiSelectorNormal .uiSelectorButton:active, .uiSelectorNormal .uiSelectorButton:focus, .uiSelectorNormal .uiSelectorButton:hover, .uiSelectorNormal .uiButtonSuppressed:active, .uiSelectorNormal .uiButtonSuppressed:focus, .uiSelectorNormal .uiButtonSuppressed:hover{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:right -5px;max-width:169px;padding-right:23px}
.uiSelectorNormal .uiButtonDisabled, .uiSelectorNormal a.uiButtonDisabled:active, .uiSelectorNormal a.uiButtonDisabled:focus, .uiSelectorNormal a.uiButtonDisabled:hover{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:right -299px}
.uiSelectorNormal .uiButtonSuppressed.uiButtonDisabled{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:right -103px}
.uiSelectorNormal .uiButtonOverlay, .uiSelectorNormal .uiButtonOverlay:active, .uiSelectorNormal .uiButtonOverlay:focus, .uiSelectorNormal .uiButtonOverlay:hover, .uiSelectorNormal .uiSelectorButton:active, .uiSelectorNormal .uiButtonSuppressed{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:right -202px}
.uiSelectorNormal .openToggler .uiSelectorButton, .uiSelectorNormal .openToggler .uiSelectorButton:active, .uiSelectorNormal .openToggler .uiSelectorButton:focus, .uiSelectorNormal .openToggler .uiSelectorButton:hover, .uiSelectorNormal .openToggler .uiButtonSuppressed, .uiSelectorNormal .openToggler .uiButtonSuppressed:active, .uiSelectorNormal .openToggler .uiButtonSuppressed:focus, .uiSelectorNormal .openToggler .uiButtonSuppressed:hover{background-image:url(5WfwmZM-cVR.png);background-repeat:no-repeat;background-position:right -250px}
.uiSelectorNormal .uiSelectorButton .uiButtonText{max-width:169px;overflow:hidden;text-overflow:ellipsis;vertical-align:top}
.uiSelectorNormal .uiSelectorBigButtonLabel .img{float:left}
.uiSelectorNormal .uiSelectorBigButtonLabel .uiButtonText{display:block}
.uiSelectorNormal .openToggler .uiSelectorButton .uiButtonText{color:#fff}
.uiSelectorMenuWrapper{bottom:auto;left:0;margin:-1px 0 30px;max-width:340px;min-width:100%;position:absolute;right:auto;top:100%;z-index:-1}
.uiSelectorRight .uiSelectorMenuWrapper{left:auto;right:0}
.uiSelectorMenuWrapper .loading{padding:5px 20px}
.uiSelectorMenuWrapper .loading span{background:url(GsNJNwuI-UM.gif) no-repeat 0 0;display:inline-block;height:11px;margin:0 auto;width:16px}
.uiSelector .uiMenu{border:1px solid #777;border-bottom:2px solid #293e6a}
.uiContextualLayer .uiSelector{margin:0;max-width:none;position:relative}
.uiContextualLayerPositioner .uiContextualLayerAboveLeft .uiSelector, .uiContextualLayerPositioner .uiContextualLayerAboveRight .uiSelector{top:2px}
.uiContextualLayerPositioner .uiContextualLayerBelowLeft .uiSelector, .uiContextualLayerPositioner .uiContextualLayerBelowRight .uiSelector{top:-1px}
.uiContextualLayer .uiSelectorMenuWrapper{position:static;margin:0}
.uiContextualLayer .uiSelector .uiSelectorButton{position:absolute}
.uiContextualLayerPositioner .uiContextualLayerAboveLeft .uiSelector .uiSelectorButton, .uiContextualLayerPositioner .uiContextualLayerAboveRight .uiSelector .uiSelectorButton{border:1px solid #3b5998;border-top-color:#6d84b4;margin-top:-2px;top:100%}
.uiContextualLayerPositioner .uiContextualLayerBelowLeft .uiSelector .uiSelectorButton, .uiContextualLayerPositioner .uiContextualLayerBelowRight .uiSelector .uiSelectorButton{bottom:100%;margin-bottom:-1px}
.uiContextualLayerPositioner .uiContextualLayerAboveLeft .uiSelector .uiSelectorButton, .uiContextualLayerPositioner .uiContextualLayerBelowLeft .uiSelector .uiSelectorButton{left:0}
.uiContextualLayerPositioner .uiContextualLayerAboveRight .uiSelector .uiSelectorButton, .uiContextualLayerPositioner .uiContextualLayerBelowRight .uiSelector .uiSelectorButton{right:0}
.uiTextareaNoResize{resize:none}
.uiTextareaAutogrow{overflow:hidden}
.fss{font-size:9px}
.fsm{font-size:11px}
.fsl{font-size:13px}
.fsxl{font-size:16px}
.fsxxl{font-size:18px}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.fcb{color:#333}
.fcg{color:gray}
.UIImageBlock_Content{display:table-cell;vertical-align:top;width:10000px}
.UIImageBlock_Image{float:left;margin-right:5px}
.UIImageBlock_Image .img, img.UIImageBlock_Image, i.UIImageBlock_Image{display:block}
.UIImageBlock_Ext{float:right}
.UIImageBlock_ICON_Image{margin-right:5px}
.UIImageBlock_ICON_Content{padding-top:1px}
.UIImageBlock_SMALL_Image{margin-right:8px}
.UIImageBlock_MED_Image, .UIImageBlock_ENT_Image{margin-right:10px}
.UIImageBlock_Entity .UIImageBlock_Content{height:50px;vertical-align:middle}
.UIImageBlock_Entity img.UIImageBlock_Image, .UIImageBlock_Entity i.UIImageBlock_Image, .UIImageBlock_Entity .UIImageBlock_Image .img{height:50px;width:50px}
.UIImageBlock_Entity .UIImageBlock_Ext{margin-top:14px;padding-left:8px}

#bootloader_CITFP { height: 42px; }
.fbcommentscontainer a {
color: #3B5998!important;
}